{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Compétences</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Compétences</h2>
        <div class="mycontentform">
            <ul>
                <li>
                    <a class="addtab" href="{{ path('competence_new') }}">
                         <span class="fa fa-plus" >&nbsp;&nbsp;Créer une nouvelle Compétence</span>
                    </a>
                </li>
            </ul>
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Intitulé de la Compétence</th>
                        <th class="center">Categorie</th>
                        <th class="center">Description</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for competence in competences %}
                    <tr>
                        <a class="mydisplaynone" href="{{ path('competence_show', { 'id': competence.id_competence }) }}">{{ competence.id_competence }}</a>
                           <td class="mytdtab">{{ dump(competence) }}</td>
                        <td class="mytdtab">{{ competence.categorie }}</td>
                        <td class="mytdtab2">{{ competence.description }}</td>
                        <input type="hidden" value="{{ competence.id_freelancer }}" />
                        <td class="mytdtab">
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" href="{{ path('competence_show', { 'id': competence.id_competence }) }}">Afficher</a>
                                </li>
                                <li style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;"  href="{{ path('competence_edit', { 'id': competence.id_competence }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            
        </div>
    </div>
{% endblock %}
