{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Compétences</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Voir les Compétences</h2>
        <div class="mycontentform">
            <table>
                <tbody>
                    <tr>
                        <th>id_competence</th>
                        <td>{{ competence.id_competence }}</td>
                    </tr>
                    <tr>
                        <th>Categorie</th>
                        <td>{{ competence.categorie }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ competence.description }}</td>
                    </tr>
                    <tr>
                        <th>id_freelancer</th>
                        <td>{{ competence.id_freelancer }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('competence_index') }}">Retourner à la liste</a>
                </li>
                <li>
                    <a href="{{ path('competence_edit', { 'id': competence.id_competence }) }}">Modifier</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
