{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Compétences</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Compétence: {{ competence.intitule }}</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('competence_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow2">Categorie</th>
                        <td class="mytdtabshow2">{{ competence.categorie }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Description</th>
                        <td class="mytdtabshow">{{ competence.description }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li class="myeditli">
                    <a class="btn btn-info" style="color:white;" href="{{ path('competence_edit', { 'id': competence.idCompetence }) }}">Enregistrer la Compétence</a>
                </li>
                <li class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit"  value="Supprimer la compétence">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
