{% extends "layout.html.twig" %}

{% block title %}
        Tableau de Bord d'Administration
{% endblock %}

{% block content %}


    <div class="col-lg-4 col-xs-8" style="margin-left: 15%">
        <!-- small box -->
        <div class="small-box" style="box-shadow: 3px 3px 3px #888888; background-color:#e68a00; color: white;">
            <div class="inner">
                <h3>{{ students_number }}</h3>
                <p>Etudiants</p>
            </div>
            <div class="icon">
                <i class="fa fa-mortar-board"></i>
            </div>
            <a href="{{ path('studentslist') }}" class="small-box-footer">Liste des étudiants &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            <a href="{{ path('addstudent') }}" class="small-box-footer">Ajouter étudiant &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            {#<a href="{{ path('addnote') }}" class="small-box-footer">Ajouter une note &nbsp;<i class="fa fa-arrow-circle-right"></i></a>#}
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-4 col-xs-8">
        <!-- small box -->
        <div class="small-box" style="box-shadow: 3px 3px 3px #888888; background-color: #0099ff; color: white;">
            <div class="inner">
                <h3>{{ classes_number}}</h3>
                <p>Classes</p>
            </div>
            <div class="icon">
                <i class="fa fa-university"></i>
            </div>
            <a href="{{ path('classeslist') }}" class="small-box-footer" >Liste des classes &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            <a href="{{ path('addclass') }}" class="small-box-footer" >Ajouter une classe &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>


    <!-- ./col -->
    <div class="col-lg-4 col-xs-8">
        <!-- small box -->
        <div class="small-box" style="box-shadow: 3px 3px 3px #888888;background-color: #00cc00; color: white;">
            <div class="inner">
                <h3>{{ exam_number }}</h3>
                <p>Examens</p>
            </div>
            <div class="icon">
                <i class="fa fa-pencil"></i>
            </div>
            <a href="{{ path('examlist') }}" class="small-box-footer" >Liste des examens &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            <a href="{{ path('addexam') }}" class="small-box-footer" >Ajouter un examen &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
                  <!-- ./col -->
    <div class="col-lg-4 col-xs-8">
        <!-- small box -->
        <div class="small-box" style="box-shadow: 3px 3px 3px #888888; background-color: blueviolet; color: white;">
            <div class="inner">
                <h3>{{ disciplines_number }}</h3>
                <p>Matières</p>
            </div>
            <div class="icon">
                <i class="fa fa-newspaper-o"></i>
            </div>
                <a href="{{ path('disciplineslist') }}" class="small-box-footer">Liste des matières &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                <a href="{{ path('adddiscipline') }}" class="small-box-footer">Ajouter une matière &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </div>
    </div>

        <!-- ./col -->
    <div class="col-lg-4 col-xs-8">
        <!-- small box -->
        <div class="small-box" style="box-shadow: 3px 3px 3px #888888; background-color: #e94b35; color: white;">
            <div class="inner">
                <h3>{{ users_number }}</h3>
                <p>Utilisateurs  </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="{{ path('userslist') }}" class="small-box-footer" >Liste des utilisateurs &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            <a href="{{ path('adduser') }}" class="small-box-footer">Ajouter un utilisateur &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>


{% endblock %}