{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Paiements</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Paiements</h2>
        <div class="mycontentform">
            <ul>
                <li>
                    <a  class="addtab" href="{{ path('paiement_new') }}">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer un nouveau Paiement</span>
                    </a>
                </li>
            </ul>
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Référence du Paiement</th>
                        <th class="center">Etat</th>
                        <th class="center">Societe</th>
                        <th class="center">Freelancer</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for paiement in paiements %}
                    <tr>
                        <a class="mydisplaynone" href="{{ path('paiement_show', { 'id': paiement.idPaiement }) }}">{{ paiement.idPaiement }}</a>
                        <td class="mytdtab2">{{ paiement.idPaiement }}</td>
                        <td class="mytdtab">{{ paiement.etat }}</td>
                        <td class="mytdtab2">{{ paiement.dpSociete|date("d/m/Y") }}</td>
                        <td class="mytdtab">{{ paiement.dpFreelancer|date("d/m/Y") }}</td>
                        <td class="mytdtab2">
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" href="{{ path('paiement_show', { 'id': paiement.idPaiement }) }}">Afficher</a>
                                </li>
                                <li style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;" href="{{ path('paiement_edit', { 'id': paiement.idPaiement }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
