{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Paiements</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Afficher un Paiement</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{  path('paiement_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow">Référence du paiement</th>
                        <td class="mytdtabshow">N°{{ paiement.idPaiement }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Etat</th>
                        <td class="mytdtabshow2">
                            {{ paiement.etat }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Dpsociete</th>
                        <td class="mytdtabshow">{{ paiement.dpSociete|date("d-mY") }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Dpfreelancer</th>
                        <td class="mytdtabshow2">{{ paiement.dpFreelancer|date("d-mY") }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li  class="myeditli">
                    <a class="btn btn-info" style="color:white;"  href="{{ path('paiement_edit', { 'id': paiement.idPaiement }) }}">Modifier</a>
                </li>
                <li class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
