{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Offres</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Offres</h2>
        <div class="mycontentform">
            <table>
                <thead>
                    <tr>
                        <th>id_offre</th>
                        <th>Tarif</th>
                        <th>Delai</th>
                        <th>Propcommerciale</th>
                        <th>Particularite</th>
                        <th>id_freelancer</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for offre in offres %}
                    <tr>
                        <td><a href="{{ path('offre_show', { 'id': offre.id_offre }) }}">{{ offre.id_offre }}</a></td>
                        <td>{{ offre.tarif }}</td>
                        <td>{{ offre.delai }}</td>
                        <td>{{ offre.propCommerciale }}</td>
                        <td>{{ offre.particularite }}</td>
                        <td>{{ offre.id_freelancer }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('offre_show', { 'id': offre.id_offre }) }}">Afficher</a>
                                </li>
                                <li>
                                    <a href="{{ path('offre_edit', { 'id': offre.id_offre }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('offre_new') }}">Créer un nouveau  offre</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
