{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Offres</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop2">
        <h2 class="mysubtitle">Liste des Offres</h2>
        <div class="mycontentform">
            {% if is_granted("ROLE_ADMIN") %}
                <ul>
                   <li>
                       <a class="addtab" href="{{ path('offre_new') }}">
                           <span class="fa fa-plus" >&nbsp;&nbsp;Créer une nouvelle Offre</span>
                       </a>
                   </li>
               </ul>
            {% endif %}
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Logo de la société du projet rattaché</th>
                        <th class="center">Intitulé du projet rattaché</th>
                        <th class="center">Tarif</th>
                        <th class="center">Delai</th>
                        <th class="center">Proposition commerciale</th>
                        <th class="center">Particularités</th>
                        <th class="center">Nom du freelancer</th>
                          <th class="center">Photo du freelancer</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                    
                {% if id_projet is not defined %}
                    
                    {% for offre in offres %}
                        <tr>               
                            <td class="mytdtab">
                                <img class="myimg" src="
                                     {% if app.request.server.get('BASE') %}
                                         {{ app.request.server.get('BASE')}}/user/logo/{{ offre.projet.societe.user.id }}
                                     {% else %}
                                         {{ app.request.get('HTTP_HOST')}}/web/user/logo/{{ offre.projet.societe.user.id }}
                                     {% endif %}
                                " />
                            </td>
                            <td class="mytdtab2">{{ offre.Projet.intitule }}</td>
                            <td class="mytdtab">{{ offre.tarif }}</td>
                            <td class="mytdtab2">{{ offre.delai }}</td>
                            <td class="mytdtab">
                                 <a href="{% if app.request.server.get('BASE') %}
                                        {{ app.request.server.get('BASE')}}/user/proposition/{{ offre.freelancer.pseudo }}
                                     {% else %}
                                        {{ app.request.get('HTTP_HOST')}}/web/user/proposition/{{ offre.freelancer.pseudo }}
                                     {% endif %}">
                                     <h1><i class="fa fa-download fa-3x"></i></h1>
                                 </a>
                            </td>
                            <td class="mytdtab2">{{ offre.particularite }}</td>
                            <td class="mytdtab">{{ offre.freelancer.pseudo }}</td>

                            <td class="mytdtab2">
                                <img class="myimg" src="{% if app.request.server.get('BASE') %}
                                     {{ app.request.server.get('BASE')}}/user/photo/{{ offre.freelancer.user.id }}
                                     {% else %}
                                         {{ app.request.get('HTTP_HOST')}}/web/user/photo/{{ offre.freelancer.user.id }}
                                    {% endif %}
                                " />
                            </td>
                            <td class="mytdtab">
                                <ul>
                                    <li style="display:inline-block;margin-top:8px;">
                                        <a class="btn btn-default" href="{{ path('offre_show', { 'id': offre.idOffre }) }}">Afficher</a>
                                    </li>
                                      {% if is_granted("ROLE_ADMIN") %}
                                        <li style="display:inline-block;">
                                            <a class="btn btn-info" style="color:white;" href="{{ path('offre_edit', { 'id': offre.idOffre }) }}">Modifier</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                        
                {% else %}  
                    
                    {% for offre in offresById %}
                        <tr>               
                            <td class="mytdtab">
                                <img class="myimg" src="
                                     {% if app.request.server.get('BASE') %}
                                         {{ app.request.server.get('BASE')}}/user/logo/{{ offre.projet.societe.user.id }}
                                     {% else %}
                                         {{ app.request.get('HTTP_HOST')}}/web/user/logo/{{ offre.projet.societe.user.id }}
                                     {% endif %}
                                " />
                            </td>
                            <td class="mytdtab2">{{ offre.Projet.intitule }}</td>
                            <td class="mytdtab">{{ offre.tarif }}</td>
                            <td class="mytdtab2">{{ offre.delai }}</td>
                            <td class="mytdtab">
                                 <a href="{% if app.request.server.get('BASE') %}
                                        {{ app.request.server.get('BASE')}}/user/proposition/{{ offre.freelancer.pseudo }}
                                     {% else %}
                                        {{ app.request.get('HTTP_HOST')}}/web/user/proposition/{{ offre.freelancer.pseudo }}
                                     {% endif %}">
                                     <h1><i class="fa fa-download fa-3x"></i></h1>
                                 </a>
                            </td>
                            <td class="mytdtab2">{{ offre.particularite }}</td>
                            <td class="mytdtab">{{ offre.freelancer.pseudo }}</td>

                            <td class="mytdtab2">
                                <img class="myimg" src="{% if app.request.server.get('BASE') %}
                                     {{ app.request.server.get('BASE')}}/user/photo/{{ offre.freelancer.user.id }}
                                     {% else %}
                                         {{ app.request.get('HTTP_HOST')}}/web/user/photo/{{ offre.freelancer.user.id }}
                                    {% endif %}
                                " />
                            </td>
                            <td class="mytdtab">
                                <ul>
                                    <li style="display:inline-block;margin-top:8px;">
                                        <a class="btn btn-default" href="{{ path('offre_show', { 'id': offre.idOffre }) }}">Afficher</a>
                                    </li>
                                      {% if is_granted("ROLE_ADMIN") %}
                                        <li style="display:inline-block;">
                                            <a class="btn btn-info" style="color:white;" href="{{ path('offre_edit', { 'id': offre.idOffre }) }}">Modifier</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    
                {% endif %}
                </tbody>
            </table> 
        </div>
    </div>
{% endblock %}
