{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Offres</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Offres</h2>
        <div class="mycontentform">
             <ul>
                <li>
                    <a class="addtab" href="{{ path('offre_new') }}">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer une nouvelle Offre</span>
                    </a>
                </li>
            </ul>
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Intitulé du projet rattaché</th>
                        <th class="center">Tarif</th>
                        <th class="center">Delai</th>
                        <th class="center">Proposition commerciale</th>
                        <th class="center">Particularités</th>
                        <th class="center">Nom du Freelancer</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for offre in offres %}
                    <tr>
                        <a class="mydisplaynone"  href="{{ path('offre_show', { 'id': offre.id_offre }) }}">{{ offre.id_offre }}</a>
                        <td class="mytdtab">{{ dump(offre) }}</td>
                        <td class="mytdtab">{{ dump(offre) }}</td>
                        <td class="mytdtab">{{ offre.tarif }}</td>
                        <td class="mytdtab">{{ offre.delai }}</td>
                        <td class="mytdtab">{{ offre.propCommerciale }}</td>
                        <td class="mytdtab">{{ offre.particularite }}</td>
                        <input type="hidden" value="offre.id_freelancer }}" />
                        <td class="mytdtab2">
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" href="{{ path('offre_show', { 'id': offre.id_offre }) }}">Afficher</a>
                                </li>
                                <li style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;" href="{{ path('offre_edit', { 'id': offre.id_offre }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
{% endblock %}
