{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Offres</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Ajouter une Offre</h2>
         <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('offre_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                    {{ form_start(form) }}
                        {{ form_row(form.tarif) }}
                        {{ form_row(form.delai) }}
                        {{ form_row(form.proposition) }}
                        {{ form_row(form.particularite) }}
                        {{ dump(offre) }}
                        <div style="font-size:17px;">
                            Pseudo du freelancer: 
                            <div class="mytdtabshow2" style=" font-size:17px;">{# {{ offre.freelancer.pseudo }} #}</div>
                                Intitulé du projet rattaché:
                            <div class="mytdtabshow2" style=" font-size:17px;">{# {{ offre.projet.intitule }} #}</div>
                                Societe ayant publié le projet rattaché:
                            <div class="mytdtabshow2" style=" font-size:17px;">{# {{ offre.projet.societe.denomination }} #}</div>
                        </div>
                        <input type="submit" value="Enregistrer l'offre" />
                    {{ form_end(form) }}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
