{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Offres</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Ajouter une Offre</h2>
         <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('offre_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                    {{ form_start(form) }}
                        <div style="width:40%; display:inline-block;">
                            {{ form_row(form.tarif) }}
                            {{ form_row(form.delai) }}
                        </div>
                     
                        <div style="margin-top:50px;">
                            {{ form_row(form.proposition) }}
                        </div>
                        <div style="width:40%;display:inline-block;">
                             {{ form_row(form.particularite) }} 
                        </div>
                       {% if freelancer is defined %}
                            <input type="hidden" name="freelancer" class="mytdtabshow2" style=" font-size:17px;" value="{{ freelancer.id }}" >
                        {% endif %}   
                        {% if projet is defined %}
                            <input type="hidden" name="projet" class="mytdtabshow2" style=" font-size:17px;" value="{{ projet.id }}" >
                        {% endif %}   
                        {% if societe is defined %}      
                            <input type="hidden" name="societe" class="mytdtabshow2" style=" font-size:17px;"value="{{ societe.id }}" >
                        {% endif %} 
                        
                        <input type="submit" class="myeditinput" value="Enregistrer l'offre" />
                        <input type="submit" class="myeditinput" value="Envoyer l'offre" />
                    {{ form_end(form) }}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
