{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Offres</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Afficher une Offre</h2>
        <div class="mycontentform">
            <table>
                <tbody>
                    <tr>
                        <th>id_offre</th>
                        <td>{{ offre.id_offre }}</td>
                    </tr>
                    <tr>
                        <th>Tarif</th>
                        <td>{{ offre.tarif }}</td>
                    </tr>
                    <tr>
                        <th>Delai</th>
                        <td>{{ offre.delai }}</td>
                    </tr>
                    <tr>
                        <th>Propcommerciale</th>
                        <td>{{ offre.propCommerciale }}</td>
                    </tr>
                    <tr>
                        <th>Particularite</th>
                        <td>{{ offre.particularite }}</td>
                    </tr>
                    <tr>
                        <th>id_freelancer</th>
                        <td>{{ offre.id_freelancer }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('offre_index') }}">Retourner à la liste</a>
                </li>
                <li>
                    <a href="{{ path('offre_edit', { 'id': offre.id_offre }) }}">Modifier</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
