{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Offres</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Afficher une Offre</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('offre_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table  class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow">Intitulé du projet rattaché</th>
                        <td class="mytdtabshow">{{ offre.projet.intitule }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Tarif</th>
                        <td class="mytdtabshow2">{{ offre.tarif }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Délai</th>
                        <td class="mytdtabshow">{{ offre.delai }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Proposition commerciale</th>
                        <td class="mytdtabshow2">{{ offre.proposition }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Particularite</th>
                        <td class="mytdtabshow">{{ offre.particularite }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Nom du Freelancer</th>
                        <td class="mytdtabshow2">{{ offre.freelancer.pseudo }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li class="myeditli">
                    <a class="btn btn-info" style="color:white;" href="{{ path('offre_edit', { 'id': offre.idOffre }) }}">Modifier</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li  class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit" rel="external" value="Supprimer l'offre">
                    {{ form_end(delete_form) }}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
