{% block javascript %}  
    
    
    <script>
        {% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
            
            $(document).ready(function(){  

                var d = document.getElementById('tableaudebordIcon');
               
                    d.innerHTML = '<img id="iconAdmin" src=\'{{ asset("images/iconTableaudeBord.png") }}\' >'; 
               
            });
            
        {% endif %}
    </script>
    
    
    <script>
        $(document).ready(function () {

            var myTitle = document.getElementById("logo").textContent;

            $("#iconAdmin").click(function () {

                $("#administration").show("fast").trigger('updatelayout');
                    {% if  is_granted("ROLE_ADMIN") %}
                        document.getElementById("logo").innerHTML = "<a class=\"bigtitle\">Tableau de Bord Administrateur</a>";
                    {% endif %}
                    {% if is_granted("ROLE_FREELANCER") and not is_granted("ROLE_ADMIN") %}
                        document.getElementById("logo").innerHTML = "<a class=\"bigtitle\">Tableau de bord {% if freelancer.user.id is defined %} de {{ freelancer.pseudo }}{% endif %}</a>";
                    {% endif %}
                    {% if is_granted("ROLE_SOCIETE") and not  is_granted("ROLE_ADMIN") %}
                         document.getElementById("logo").innerHTML = "<a class=\"bigtitle\">Tableau de bord {% if societe.pseudo is defined %} de{{ societe.pseudo }}{% endif %}</a>";
                    {% endif %}
            });

            $("#closeadministration").click(function () {

                $("#administration").hide("slow").trigger('updatelayout');
                document.getElementById("logo").innerHTML = '<a class=\"bigtitle\">' + myTitle + '</a>';
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $("#tableaudebordbtn").click(function () {

                $("#tableaudebord").show("fast").trigger('updatelayout');
            });

            $("#closetableaudebord").click(function () {

                $("#tableaudebord").hide("slow").trigger('updatelayout');
            });
        });
    </script>
    
  
    
{% endblock %}


{% block nav %}
           
    {% if app.request.pathInfo != '/login' %}
        {% if not is_granted("ROLE_USER") %}

            <a href="{{ path('fos_user_security_login') }}" >
                <img id="connexionImage" src="{{ asset('images/iconConnexion.png') }}"/>
            </a>

        {% endif %}  
    {% endif %} 

    {% if is_granted ("ROLE_USER") %}
        
      
         
        <a id="deconnexionImage"  href="{{ path('logout') }}">
            <img id="connexionImage" src="{{ asset('images/iconDeconnexion.png') }}"/>
        </a>
       
        {% if (app.request.attributes.get('_route')!='user_show') %}
            <a href="{{ path('user_show', { 'id': app.user.id }) }}" class="nav" >
                <img id="iconProfil" src="{{ asset('images/iconProfil.png') }}">
            </a>
        {% endif %}
        {% if not is_granted('ROLE_ADMIN') %}   
            {% if is_granted('ROLE_FREELANCER')%}  
               <a class="nav" id="tableaudebordIcon"></a>
            {% endif %}
            {% if is_granted('ROLE_SOCIETE')%}               
                <a class="nav" id="tableaudebordIcon"></a>
            {% endif %} 
        {% endif %}      
    {% endif %}
    {% if (app.request.attributes.get('_route')!='projet_index') %}

        <a href="{{ path('projet_index') }}"  class="nav">
            <img id="iconProjet" src="{{ asset('images/iconProjet.png')}}">
        </a>


    {% endif %}
    {% if (app.request.attributes.get('_route')!='freelancer_index') %} 

        <a href="{{ path('freelancer_index') }}"  class="nav" >
            <img id="iconFreelancers" src="{{ asset('images/iconFreelancers.png')}}" >
        </a>  

    {% endif %}

    {% if (app.request.attributes.get('_route')!='societe_index') %}

        <a href="{{ path('societe_index') }}"  class="nav" >
            <img id="iconSociete" src="{{ asset('images/iconSociete.png')}}" >
        </a>  

    {% endif %}

    {% if not (app.request.attributes.get('_route')=='re_service') %}

        <a class="nav" href="{{ path("re_service") }}">
            <img id="iconDocumentation" src="{{ asset('images/iconDocumentation.png') }}" >
        </a>

    {% endif %}        
    {% if not (app.request.attributes.get('_route')=='re_fos_user_registration_register') %} 
        {% if not is_granted("ROLE_USER") %}

            <a href="{{ path('re_fos_user_registration_register') }}" class="nav">
                <img id="iconCompte" src="{{ asset('images/iconCompte.png')}}" >
            </a>

        {% endif %}

    {% endif %}    

    {% if is_granted("ROLE_ADMIN") %}

        <a class="nav" id="tableaudebordIcon" ></a>

        <div id="administration" style="display:none;background-color:#80B6D4; border:5px ridge white; padding:5px 0px; margin-right:2%; margin-top:8px;">    

            <a   href="{{ path('user_index') }}"  class="manav "  id="showuser" >
                <span class="icon fa-edit">&nbsp;&nbsp;&nbsp;Utilisateurs</span>
            </a>

            <a  href="{{ path('cahierdescharges_index') }}"  class="manav icon fa-edit"  id="showcdc" >
                &nbsp;&nbsp;&nbsp;<span>Cahiers des charges</span>
            </a>

            <a   href="{{ path('competence_index') }}"  class="manav icon fa-edit"  id="showcompetence" >
                &nbsp;&nbsp;&nbsp;<span>Compétences</span>
            </a>

            <a   href="{{ path('contrat_index') }}"  class="manav icon fa-plus-square"  id="showcontrat"  >
                &nbsp;&nbsp;&nbsp;<span>Contrats</span>
            </a>

            <a   href="{{ path('freelancer_index') }}"  class="manav icon fa-edit"  id="showfreelancer" >
                &nbsp;&nbsp;&nbsp;<span>Freelancers</span>
            </a>

            <a   href="{{ path('message_index') }}"  class="manav icon fa-plus-square"  id="showmessage" >
                &nbsp;&nbsp;&nbsp;<span>Messages</span>
            </a>

            <a   href="{{ path('offre_index') }}"  class="manav icon fa-edit"  id="showoffre" >
                &nbsp;&nbsp;&nbsp;<span>Offres</span>
            </a>

            <a   href="{{ path('paiement_index') }}"  class="manav icon fa-plus-square"  id="showpaiement" >
                &nbsp;&nbsp;&nbsp;<span>Paiements</span>
            </a>

            <a   href="{{ path('projet_index') }}"  class="manav icon fa-edit"  id="showprojet" >
                &nbsp;&nbsp;&nbsp;<span>Projets</span>
            </a>

            <a   href="{{ path('societe_index') }}"  class="manav icon fa-plus-square"  id="showsociete" >
                &nbsp;&nbsp;&nbsp;<span>Sociétés</span>
            </a>

            <a   href="{{ path('test_index') }}"  class="manav icon fa-edit " id="showtest"  >
                &nbsp;&nbsp;&nbsp;<span>Tests</span>
            </a>
            <!--
                   <a    href="#" class="manav icon fa-edit" id="showadministration" >
                       &nbsp;&nbsp;&nbsp;<span>Accéder au Back-Office</span>
                   </a>
            -->
            <a   class="manav icon fa-edit" id="closeadministration" >
                &nbsp;&nbsp;&nbsp;<span>Fermer le menu</span>
            </a>

        </div>

    {% endif %}
    
    {% if is_granted("ROLE_FREELANCER") and not is_granted("ROLE_ADMIN") %}
    <div id="administration" style="display:none;background-color:#80B6D4; border:5px ridge white; padding:5px 0px; margin-right:2%; margin-top:8px;">    
        <div class="formulairetop2">
           <div class="mycontentform">
               <div style="margin-top:-150px;margin-left:1%">
                   {% set freelancer = app.session.get('freelancer') %}
                   {% if freelancer.id is defined %}
                       <a href="{{ path('offre_index', { 'id_freelancer': freelancer.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-edit">&nbsp;&nbsp;&nbsp;Mes Offres </span>
                       </a>
                       <a href="{{ path('message_index', { 'id_user_send': freelancer.user.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-image">&nbsp;&nbsp;&nbsp;Mes Messages envoyés </span>
                       </a>
                       <a href="{{ path('message_index', { 'id_user_received': freelancer.user.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-legal">&nbsp;&nbsp;&nbsp;Mes Messages reçus </span>
                       </a>
                       <a href="{{ path('test_index', { 'id': freelancer.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-clipboard">&nbsp;&nbsp;&nbsp;Mes Tests de compétences</span>
                       </a>
                       <a href="{{ path('competence_index', { 'id': freelancer.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-home">&nbsp;&nbsp;&nbsp;Passer un test de compétences</span>
                       </a>
                       <a href="{{ path('user_show', { 'id': freelancer.user.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-info-circle">&nbsp;&nbsp;&nbsp;Mes Données Utilisateurs</span>
                       </a>
                       <a   class="manav icon fa-edit" id="closeadministration" >
                           &nbsp;&nbsp;&nbsp;<span>Fermer le menu</span>
                       </a>
                   {% else %}
                        <a class="btn btn-primary" style="padding-left:150px; font-size:17px; padding-right:150px; padding-top:5px; padding-bottom:5px;" href="{{ path('freelancer_new') }}">
                           <span class="fa fa-plus " >&nbsp;&nbsp;Vous devez Créer votre profil freelancer ! </span>
                       </a>      
                       <a   class="manav icon fa-edit" id="closeadministration" >
                           &nbsp;&nbsp;&nbsp;<span>Fermer le menu</span>
                       </a>
                   {% endif %}
               </div>
           </div>
       </div>
    </div>
    {% endif %}
       
    {% if is_granted("ROLE_SOCIETE") and not is_granted("ROLE_ADMIN")  %}
     <div id="administration" style="display:none;background-color:#80B6D4; border:5px ridge white; padding:5px 0px; margin-right:2%; margin-top:8px;">    
        <div class="formulairetop2">
           <div class="mycontentform">
               <div style="margin-top:-150px;margin-left:1%">
                   {% set societe = app.session.get('societe') %}                
                   {% if societe.id is defined %}
                       <a href="{{ path('projet_index', { 'id': societe.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-edit">&nbsp;&nbsp;&nbsp;Mes Projets</span>
                       </a>
                       <a href="{{ path('message_index', { 'id': societe.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-edit">&nbsp;&nbsp;&nbsp;Mes Discussions</span>
                       </a>
                       <a href="{{ path('contrat_index', { 'id': societe.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-edit">&nbsp;&nbsp;&nbsp;Mes contrats</span>
                       </a>
                       <a href="{{ path('user_show', { 'id': societe.user.id }) }}"  class="manav "  id="showuser" >
                           <span class="icon fa-edit">&nbsp;&nbsp;&nbsp;Mes Données Utilisateurs</span>
                       </a>
                        <a   class="manav icon fa-edit" id="closeadministration" >
                           &nbsp;&nbsp;&nbsp;<span>Fermer le menu</span>
                       </a>
                   {% else %}
                        <a class="btn btn-primary" style="padding-left:150px; font-size:17px; padding-right:150px; padding-top:5px; padding-bottom:5px;" href="{{ path('societe_new') }}">
                           <span class="fa fa-plus " >&nbsp;&nbsp;Vous devez Créer votre profil societe ! </span>
                       </a> 
                       <a   class="manav icon fa-edit" id="closeadministration" >
                           &nbsp;&nbsp;&nbsp;<span>Fermer le menu</span>
                       </a>
                   {% endif %}
               </div>
           </div>
       </div>
     </div>           
    {% endif %}

{% endblock %} 

