
{% block nav %}
    <nav data-role="navbar" style=" position:absolute; top:10px; width:95vw; margin-left:2vw ">
        <ul >    
            <li>
                <a href="{{  path('front') }}" class="manav icon fa-home ">
                    &nbsp;&nbsp;&nbsp;<span>Accueil</span>
                </a>
            </li>    
            {% if is_granted("ROLE_USER") %}
                <li>
                    <a href="{{ path('logout') }}" class="manav icon fa-power-off">
                        &nbsp;&nbsp;&nbsp;<span>Se déconnecter</span>
                    </a>
                </li>
            {% else %}
                {% if app.request.pathInfo != '/login' %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}" class="manav icon fa-share-square-o">
                            &nbsp;&nbsp;&nbsp;<span>Se connecter</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if app.request.pathInfo != '/register' %} 
                {% if not is_granted("ROLE_USER") %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}" class="manav icon fa-user-plus">
                            &nbsp;&nbsp;&nbsp;<span>Créer un compte</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}               
            <li  onmouseover="sousmenuon2()" onmouseout="sousmenuoff2()" id="sousmenu1">
                <a href="{{ path('listprojet') }}"  class="manav icon Example of newspaper-o fa-newspaper-o ">
                    &nbsp;&nbsp;&nbsp;<span>Consulter les Projets</span>
                </a>
                <ul style="display:none; " id="test2">    
                    <li  style="width:19vw"><a href="{{  path('front') }}" class="manav icon fa-eye " style="display:block;">
                   &nbsp;&nbsp;&nbsp;Sociétés</a></li>    
                    <li style="width:19vw; "><a href="{{  path('front') }}" class="manav icon fa-calendar"  style="display:block;">
                   &nbsp;&nbsp;&nbsp;Catégories</a></li>    
                    <li style="width:19vw; box-sizing: border-box;"><a href="{{  path('front') }}" class="manav icon fa-dashboard" style="display:block;">
                   &nbsp;&nbsp;&nbsp;Date de publication</a></li>    
               </ul>
            </li>           
            <li onmouseover="sousmenuon()" onmouseout="sousmenuoff()">
                <a href="{{ path('listfreelancer') }}"  class="manav icon fa-users" >
                    &nbsp;&nbsp;&nbsp;<span>Voir les Freelancers</span>
                </a>  
                    <ul style="display:none; " id="test">    
                         <li  style="width:19vw"><a href="{{  path('front') }}" class="manav icon fa-eye " style="display:block;">
                        &nbsp;&nbsp;&nbsp;Compétences</a></li>    
                         <li style="width:19vw; "><a href="{{  path('front') }}" class="manav icon fa-calendar"  style="display:block;">
                        &nbsp;&nbsp;&nbsp;Date d'inscription</a></li>    
                         <li style="width:19vw; box-sizing: border-box;"><a href="{{  path('front') }}" class="manav icon fa-dashboard" style="display:block;">
                        &nbsp;&nbsp;&nbsp;Activités Réalisées</a></li>    
                    </ul>
            </li>
            {% if is_granted("ROLE_USER") %}
                <li>
                    <a href="{{ path('addprojet') }}"  class="manav icon fa-plus-square" >
                        &nbsp;&nbsp;&nbsp;<span>Créer un Projet</span>
                    </a>
                </li> 
                <li>
                    <a href="{{ path('editprofil') }}"  class="manav icon fa-edit" >
                        &nbsp;&nbsp;&nbsp;<span>Modifier mon Profil</span>
                    </a>
                </li> 
            {% endif %}
           
        </ul>
    </nav>
  {% endblock %} 

