{% extends "layout.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block title %}
    {% if teacher is defined %}
        Formulaire de modification de {{ teacher.getUsername() }}
    {% else %}
        Formulaire d'ajout d'une société
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" method="post" action="{{ path('addteacher')}}">
            <div class="box-body">
                {% if teacher is defined %}
                    <input type="hidden" id="id_user" name="id_user" class="form-control" value="{{ id_user }}">
                    <div class="form-group" >
                        <label>Nom d'utilisateur<span style="color:red;">*</span></label>
                        {#Ajoute le login de l'utilisateur#}
                        <input type="text" style=" width: 25% ;border-radius: 3px" id="username" name="username" class="form-control" value="{{ teacher.getUsername() }}">
                    </div>
                    <div class="form-group">
                        <label for="#">Nom <span style="color: red;">*</span></label>
                        {#Ajoute le nom du professeur#}
                        <input type="text" id="name" name="name" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ teacher.getName() }}">
                    </div>
                    <div class="form-group">
                        <label for="#">Prénom <span style="color: red;">*</span></label>
                        {#Ajoute le prénom du professeur#}
                        <input type="text" id="firstname" name="firstname" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ teacher.getFirstname() }}">
                    </div>
                    <div class="form-group">
                        <label for="#">N° de téléphone</label>
                        {#Ajoute le numéro de téléphone du professeur#}
                        <input type="text" id="tel" name="tel" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ teacher.getTel() }}">
                    </div>
                    <div class="form-group">
                        <label for="#">Matière enseignée<span style="color: red;">*</span></label>
                        <input id="discipline" name="old_discipline" style=" width: 25% ;border-radius: 3px" class="form-control" value="{# teacher.discipline.getNameDiscipline() #}" readonly>
                        <label for="#">Nouvelle Matière enseignée<span style="color: red;">*</span></label>
                        {#Crée une liste déroulante des nom de matières
                        
                         {# <select class="form-control" id="sel3" name="id_discipline"  style="border-radius: 3px; width: 25%" >
                           {%for discipline in matieres %}
                                <option id="discipline" name="discipline" value="{{ teacher.discipline.getIdDiscipline() }}">{{ discipline.getNameDiscipline()}}</option>
                            {% endfor %} 
                        </select>#}
                    </div>
                    <div class="form-group">
                        <label>Email <span style="color:red;">*</span></label>
                        {#Ajoute l'adresse mail de l'utilisateur#}
                        <input type="email" id="mail" name="mail" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ teacher.getMail() }}">
                    </div>
                    <div class="form-group">
                        <label>Mot de passe <span style="color:red;">*</span></label>
                        {#Ajoute le mot de passe de l'utilisateur#}
                        <input type="password" id="password" name="password" style=" width: 25% ;border-radius: 3px" class="form-control" required placeholder="Minimum 6 caractères">
                    </div>
                    <small><span style="color: red;">* Champs obligatoires</span></small>
                {% else %}
                    <div class="form-group" >
                        <label>Login <span style="color:red;">*</span></label>
                        {#Ajoute le login de l'utilisateur#}
                        <input type="text" style=" width: 25% ;border-radius: 3px" name="username" class="form-control" required placeholder="Ex : jdUFIP2015">
                    </div>
                    <div class="form-group">
                        <label for="#">Nom <span style="color: red;">*</span></label>
                        {#Ajoute le nom du professeur#}
                        <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Dupont" name="name">
                    </div>
                    <div class="form-group">
                        <label for="#">Prénom <span style="color: red;">*</span></label>
                        {#Ajoute le prénom du professeur#}
                        <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Jean-Michel" name="firstname">
                    </div>
                    <div class="form-group">
                        <label for="#">Adresse email <span style="color: red;">*</span></label>
                        {#Ajoute l'adreese mail du professeur#}
                        <input type="email" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="email" placeholder="Ex : jeanmichou@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="#">N° de téléphone</label>
                        {#Ajoute le numéro de téléphone du professeur#}
                        <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="tel" placeholder="Ex : 0656543487">
                    </div>
                    <div class="form-group">
                        <label for="#">Matière enseignée <span style="color: red;">*</span></label>
                        {#Crée une liste déroulante des nom de matières#}
                        <select class="form-control" id="sel3" name="id_discipline"  style="border-radius: 3px; width: 25%">
                            {#% for discipline in matieres %}
                                <option value="{{ discipline.getIdDiscipline() }}">{{ discipline.getNameDiscipline() }}</option>
                            {% endfor #}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mot de passe <span style="color:red;">*</span></label>
                        {#Ajoute le mot de passe de l'utilisateur#}
                        <input type="password"  name="password" style=" width: 25% ;border-radius: 3px" class="form-control" required placeholder="Minimum 6 caractères">
                    </div>
                    <small><span style="color: red;">* Champs obligatoires</span></small>
                {% endif %}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
            </div>
            {#Affiche un message d'ajout réussi#}
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success fade">
                    {{ success }}
                </div>
            {% endfor %}
        </form>
        <!-- /.box-footer -->
    </div>
{% endblock %}

{% block javascript_end %}


{% endblock %}