{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Freelancer</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Freelancers</h2>
        <div class="mycontentform">
            <table>
                <thead>
                    <tr>
                        <th>id_freelancer</th>
                        <th>Urlcv</th>
                        <th>Urlphoto</th>
                        <th>Age</th>
                        <th>Iduser</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for freelancer in freelancers %}
                    <tr>
                        <td><a href="{{ path('freelancer_show', { 'id': freelancer.id_freelancer }) }}">{{ freelancer.id_freelancer }}</a></td>
                        <td>{{ freelancer.urlCv }}</td>
                        <td>{{ freelancer.urlPhoto }}</td>
                        <td>{{ freelancer.age }}</td>
                        <td>{{ freelancer.idUser }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('freelancer_show', { 'id': freelancer.id_freelancer }) }}">Afficher</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('freelancer_edit', { 'id': freelancer.id_freelancer }) }}">Modifier</a>
                                </li>
                                 {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
            <ul>
                <li>
                    <a href="{{ path('freelancer_new') }}">Créer un nouveau  freelancer</a>
                </li>
            </ul>
            {% endif %} 
        </div>
    </div>
{% endblock %}
