{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Freelancer</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Profil du Freelancer: {{ freelancer.pseudo }}</h2>
        <div class="mycontentformshow">
            
            <ul>
                <li class="returnlist">
                    <a  href="{{ path('freelancer_index') }}">
                        <img id="iconRetourListe" src="{{ asset('RetourListe.png')}}">
                    </a>
                </li>
            </ul>
            {% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_USER') %}
                {% if freelancer.User and app.user.id==freelancer.User.id  %}
                    <ul>
                        <li>
                            <a href="{{ path('competence_index') }}">
                                <img id="iconPasserTest" src="{{ asset('PasserTest.png')}}">
                            </a>
                        </li>
                    </ul>
                {% endif %} 
           {% endif %}
            {% if is_granted('ROLE_USER') %}
                {% if freelancer.user.id is defined %}
                    {% if freelancer.user.id==app.user.id %} 
                        <a class="btn btn-success " href="{{ path('message_index', { 'id': freelancer.id }) }}">
                            Voir tous mes messages
                        </a>
                    {% else %}    
                        <a class="btn btn-success " href="{{ path('message_new', { 'id': freelancer.id }) }}">
                            Envoyer un message à ce freelancer
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
                  
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow">Pseudo</th>
                        <td class="mytdtabshow">{{ freelancer.pseudo }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Photo</th>
                        <td class="mytdtabshow2">
                            <img class="myimg" src="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/photo/{{ freelancer.pseudo }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/photo/{{ freelancer.pseudo }}{% endif %}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Nom Utilisateur</th>
                        <td class="mytdtabshow">{{ freelancer.user.name }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Prénom</th>
                        <td class="mytdtabshow2">{{ freelancer.user.firstname }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Description</th>
                       <td class="mytdtabshow">{{ freelancer.description }}</td>
                    </tr> 
                
                        <tr>
                            <th class="mytdtabshow2">Competences validées</th>
                            <td class="mytdtabshow2">
                            {% if competencesFreelancer %}
                                    <img class="mydrapeau" style="display:inline-block; width:150px; height:100px; margin-top:0px;"  src="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/competence/{{ competencesFreelancer.Competence.intitule }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/competence/{{ competencesFreelancer.Competence.intitule }}{% endif %}.gif" />
                            {% else %}
                                    Aucune compétence validée
                            {% endif %}  
                           
                            </td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow">Nationalité</th>
                            <td class="mytdtabshow">{{ freelancer.nationalite }}
                                <img class="mydrapeau" style="display:inline-block; width:100px; height:50px; margin-top:0px;"  src="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/drapeau/{{ freelancer.nationalite }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/drapeau/{{ freelancer.nationalite }}{% endif %}.gif" />
                            </td>
                        </tr>
                         <tr>
                            <th class="mytdtabshow2">Age</th>
                            <td class="mytdtabshow2">{{ freelancer.age }}</td>
                        </tr>

                        <tr>
                            <th class="mytdtabshow">CV</th>
                            <td class="mytdtabshow" >
                                <a href="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/cv/{{ freelancer.pseudo }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/cv/{{ freelancer.pseudo }}{% endif %}" ><i class="fa fa-download fa-3x"></i></a>
                            </td>
                        </tr>
                        <tr> 
                            {% if is_granted('ROLE_USER') %}
                       
                                    <a   class="btn btn-info" >Voir les Résultat des Tests de compétences pour tous les freelancers</a>
                              
                           {% endif %}
                        </tr>
                       
                    </div>
                </tbody>
            </table>
            <ul> 
                {% if is_granted("ROLE_ADMIN") or is_granted('ROLE_USER') %}
                    {% if freelancer.User and app.user.id==freelancer.User.id  %}
                        <li class="myeditli">
                            <a class="btn btn-info" style="color:white;" href="{{ path('freelancer_edit', { 'id': freelancer.id }) }}">Modifier</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer le profil de l'utilisateur">
                    {{ form_end(delete_form) }}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
