{% extends "layout.html.twig" %}

  {% block css %}

  {% endblock %}
  {% block javascript %}

      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript">

          $(document).ready(function(){
              $(".btnDelete").click(function(){
                  $("#myModal").modal('show');
              });
          });
      </script>

      <script>



          function confirmation(id) {

              var id_contrat = document.getElementsByName("id_contrat");

              var i;

              for(i = 0; i < id_contrat.length; i++)
              {
                 return suppression(id);
              }

          }

          function suppression(id_contrat){

             var id_form = document.getElementById("delete_form"+id_contrat);
              deleteExam(id_contrat);

          }

        function deleteExam(id_contrat) {
            var id_form = document.getElementById("delete_form"+id_contrat);
            alert(id_contrat);
            id_form.submit();
        }


      </script>


  {% endblock %}


{% block title %}
   Listes des Contrats
        <span style="font-size:14px; ">
            {% if is_granted('ROLE_ADMIN') %}
                <a href='{{ path('addcontrat') }}' >
                    <span style="margin-left:80px; font-size:14px;">
                         <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp; Ajouter un Contrat
                     </span>
                </a>
            {% endif %}
        </span>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            {#Affiche un message d'ajout réussi#}
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success myfade">
                    {{ success }}
                </div>
            {% endfor %}
            {% for danger in app.session.getFlashBag.get('danger') %}
                <div class="alert alert-danger myfade">
                    {{ danger }}
                </div>
            {% endfor %}
        </div>
        <div class="box-body">
            <table id="example1" class="table table-hover table-striped">
                <thead>
                    <tr style="background-color: #3c8dbc">
                        <th style="text-align: center; border: 1px solid darkgrey;">Nombre de participants</th>
                        <th style="text-align: center; border: 1px solid darkgrey;"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;Date</th>
                        <th style="text-align: center; border: 1px solid darkgrey;">Nom du Contrat</th>
                        <th style="text-align: center; border: 1px solid darkgrey;">Catégorie</th>
                        <th style="text-align: center; border: 1px solid darkgrey;">Projet rattaché</th>
                        {% if is_granted('ROLE_FREELANCER') %}
                            <th style="text-align: center; border: 1px solid darkgrey; width: 90px">Noter</th>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <th style="text-align: center; border: 1px solid darkgrey; width: 90px">Modifier</th>
                            <th style="text-align: center; border: 1px solid darkgrey; width: 90px">Supprimer</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for contrat in contrats %}
                        <tr style="color:black">
                            <td style="text-align: center; border: 1px solid darkgrey; width:70px;"></td>
                            <td style="text-align: center; border: 1px solid darkgrey;"></td>
                            <td style="text-align: center; border: 1px solid darkgrey;"></td>
                            <td style="text-align: center; border: 1px solid darkgrey;"></td>
                            <td style="text-align: center; border: 1px solid darkgrey;"></td>
                            {% if is_granted('ROLE_FREELANCER') %}
                                <td style="text-align: center; border: 1px solid darkgrey;">
                                    <form action="" method="post" >
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-success btn-flat">
                                                <i class="fa fa-plus"></i>
                                                <input type='hidden' id="id_class" name="id_class" value="">
                                                <input type='hidden' id="id_contrat" name="id_contrat" value="{{ contrat.getId_contrat() }}">
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <td style="text-align: center; border: 1px solid darkgrey;">
                                    <form action="{{ path('contrat_edit') }}" method="post" >
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-warning btn-flat">
                                                <i class="fa fa-pencil"></i>
                                                <input type='hidden' name="id_contrat" value="{{ contrat.getId_contrat() }}">
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td style="text-align: center; border: 1px solid darkgrey; ">
                              
                                    <form action="{{ app.request.basepath }}/contrat_delete/id" method="post" >
                                        <div class="btn-group">
                                            <div class="bs-contratple">
                                                <button type="submit"  class="btn btn-danger btn-flat" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer le contrat ?')">
                                                    <i class="fa fa-trash" ></i>
                                                    <input type='hidden' name="id_contrat" value="{{ contrat.getId_contrat() }}">
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                             {% endif %}
         
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="odd">
                        <th style="text-align: center; border: 1px solid darkgrey;">Nombre de particpants</th>
                        <th style="text-align: center; border: 1px solid darkgrey;">Date</th>
                        <th style="text-align: center; border: 1px solid darkgrey;">Nom du Contrat</th>
                        <th style="text-align: center; border: 1px solid darkgrey;">Catégorie</th>
                        <th style="text-align: center; border: 1px solid darkgrey;">Projet rattaché</th>
                        {% if is_granted('ROLE_FREELANCER') %}
                            <th style="text-align: center; border: 1px solid darkgrey;">Noter</th>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <th style="text-align: center; border: 1px solid darkgrey;">Modifier</th>
                            <th style="text-align: center; border: 1px solid darkgrey;">Supprimer</th>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
