{% extends "layout.html.twig" %}
  {% block css %}

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  {% endblock %}
  {% block javascript %}


  {% endblock %}
{% block title %}
    Liste des Freelancers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-size:14px;">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('addfreelancer') }}"><i class="fa fa-plus"></i>&nbsp; Ajouter un freelancer</a>
        {% endif %}
    </span>
{% endblock %}

{% block content %}
    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    {#Affiche un message d'ajout réussi#}
                    {% for success in app.session.getFlashBag.get('success') %}
                      <div class="alert alert-success myfade">
                            {{ success }}
                        </div>
                    {% endfor %}
                    {% for danger in app.session.getFlashBag.get('danger') %}
                        <div class="alert alert-danger myfade">
                            {{ danger }}
                        </div>
                    {% endfor %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-hover table-striped">
                        <thead>
                            <tr style="background-color: #3c8dbc">
                                <th style="text-align: center; border: 1px solid darkgrey;">Nom</th>
                                <th style="text-align: center; border: 1px solid darkgrey;">Prénom</th>
                                <th style="text-align: center; border: 1px solid darkgrey;">Date de naissance</th>
                                <th style="text-align: center; border: 1px solid darkgrey;">Adresse mail</th>
                                <th style="text-align: center; border: 1px solid darkgrey;">N° de téléphone</th>
                                <th style="text-align: center; border: 1px solid darkgrey;">Adresse</th>
                                <th style="text-align: center; border: 1px solid darkgrey;">Catégorie</th>
                            
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th style="text-align: center; border: 1px solid darkgrey;">Modifier</th>
                                    <th style="text-align: center; border: 1px solid darkgrey;">Supprimer</th>
                                {% endif %}
                            </tr>
                        </thead>
                        
                        {% for freelancer in freelancers  %}
                            <tr style="color:black;">
                                <td style="text-align: center; border: 1px solid darkgrey;" >{{ freelancer.nomuser }}</td>
                                <td style="text-align: center; border: 1px solid darkgrey;">{{ freelancer.prenomuser }}</td>
                                <td style="text-align: center; border: 1px solid darkgrey;">{{ freelancer.age }}</td>
                                <td style="text-align: center; border: 1px solid darkgrey;">{{ freelancer.email }}</td>
                                <td style="text-align: center; border: 1px solid darkgrey;">{{ freelancer.telephone }}</td>
                                <td style="text-align: center; border: 1px solid darkgrey;">{{ freelancer.adresse }}</td>
                                
                                <td style="text-align: center; border: 1px solid darkgrey;"></td>
                               
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td style="text-align: center; border: 1px solid darkgrey;">
                                        <form action="{{ path('freelancer_edit', {'id_freelancer': freelancer.getId_freelancer() }) }}" method="post" >
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-warning btn-flat">
                                                    <i class="fa fa-pencil"></i>
                                                    <input type="hidden" id="id_student" name="id_freelancer" value="{{ freelancer.getId_freelancer() }}">
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <td style="text-align: center; border: 1px solid darkgrey;">
                                        <form action="{{ path('freelancer_deleted', {'id_freelancer': freelancer.getId_freelancer()}) }}" method="post" >
                                            <div class="btn-group">
                                                <div class="bs-example">
                                                    <button type="submit"  class="btn btn-danger btn-flat" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer le freelancer {{ freelancer.getPseudo() }} ?')">
                                                        <i class="fa fa-trash" ></i>
                                                        <input type='hidden' id="id_student" name="id_freelancer" value="{{ freelancer.getId_freelancer() }}">
                                                        {#<input type='hidden'  id="classname" name="classname" value="{{freelancer.getClass().getClassName() }}">
                                                        <input type='hidden'  id="name_student" name="name_student" value="{{freelancer.getName() }}">#}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tfoot>
                        <tr class="odd">
                            <th style="text-align: center; border: 1px solid darkgrey;">Nom</th>
                            <th style="text-align: center; border: 1px solid darkgrey;">Prénom</th>
                            <th style="text-align: center; border: 1px solid darkgrey;">Date de Naissance</th>
                            <th style="text-align: center; border: 1px solid darkgrey;">Adresse mail</th>
                            <th style="text-align: center; border: 1px solid darkgrey;">N° de téléphone</th>
                            <th style="text-align: center; border: 1px solid darkgrey;">Adresse</th>
                            <th style="text-align: center; border: 1px solid darkgrey;">Catégorie</th>

                            {% if is_granted('ROLE_ADMIN') %}
                                <th style="text-align: center; border: 1px solid darkgrey;">Modifier</th>
                                <th style="text-align: center; border: 1px solid darkgrey;">Supprimer</th>
                            {% endif %}
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->

            </div>
            <a href="#">retourner en haut de page.</a>
        </div>
    </div>
{% endblock %}