
{% extends "layout.html.twig" %}

{% block title %}
    Liste des projets &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-size:14px;">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('addprojet') }}"><i class="fa fa-plus"></i>&nbsp; Ajouter un projet</a>
        {% endif %}
  </span>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        {#Affiche un message d'ajout réussi#}
                        {% for success in app.session.getFlashBag.get('success') %}
                            <div class="alert alert-success myfade">
                                {{ success }}
                            </div>
                        {% endfor %}
                        {% for danger in app.session.getFlashBag.get('danger') %}
                            <div class="alert alert-danger myfade">
                                {{ danger }}
                            </div>
                        {% endfor %}
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr style="background-color: #3c8dbc">
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Nom du projet</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Option</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Année</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Description</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Nombre d'offre des freelancers</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Voir les freelancers</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Modifier</th>
                                    <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Supprimer</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for projet in projets %}
                                {# for key in StudentByClass|keys if key == projet.getId_projet() #}
                                        <tr style="color:black;">
                                            <td style="text-align: center; border: 1px solid darkgrey;" >{{ projet.getId_projet() }}</td>
                                            <td style="text-align: center; border: 1px solid darkgrey;"></td>
                                            <td style="text-align: center; border: 1px solid darkgrey;"></td>
                                            <td style="text-align: center; border: 1px solid darkgrey;">{{ projet.getDescription() }}</td>
                                            <td style="text-align: center; border: 1px solid darkgrey;"></td>
                                            <td style="text-align: center; border: 1px solid darkgrey;">
                                                <form action="{{ path('projetslist', {'id_projet': projet.getId_projet() }) }}" method="post" >
                                                    <div class="btn-group">
                                                        <button type="submit" class="btn btn-success btn-flat">
                                                            <i class="fa fa-eye"></i>
                                                            <input type="hidden" id="id_studentclass" name="id_studentclass" value="{{ projet.getId_projet() }}">
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>

                                            {% if is_granted('ROLE_ADMIN') %}
                                                <td style="text-align: center; border: 1px solid darkgrey;">
                                                    <form action="{{ path('projet_edit', {'id_projet': projet.getId_projet() }) }}" method="post" >
                                                        <div class="btn-group">
                                                            <button type="submit" class="btn btn-warning btn-flat">
                                                                <i class="fa fa-pencil"></i>
                                                                <input type="hidden" name="id_class" value="{{ projet.getId_projet() }}">
                                                            </button>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td style="text-align: center; border: 1px solid darkgrey;">
                                                    <form action="classname_delete/id" method="post" >
                                                        <div class="btn-group">
                                                            <button type="submit" class="btn btn-danger btn-flat" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer la projet  ?')">
                                                                <i class="fa fa-trash"></i>
                                                                <input type="hidden" id="id_studentclass" name="id_studentclass" value="{{ projet.getId_projet() }}">
                                                            </button>
                                                        </div>
                                                    </form>
                                                </td>
                                            {% endif %}
                                        </tr>
                                {# endfor #}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Nom du projet</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Option</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Année</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Description</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Nombre d'offre des freelancers</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Voir les freelancers</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Modifier</th>
                                <th class="odd" style="text-align: center; border: 1px solid darkgrey;">Supprimer</th>
                                {% endif %}
                            </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
{% endblock %}
