{% extends "layout.html.twig" %}

{% block title %}
  Liste des utilisateurs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="font-size:14px;">
      <a href="{{ path('adduser') }}"><i class="fa fa-plus"></i>&nbsp; Ajouter un utilisateur</a>
  </span>
{% endblock %}

{% block content %}
    <!-- Div pour afficher le nombre d'étudiants total -->
    <div class="row" >
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    {% for success in app.session.getFlashBag.get('success') %}
                        <div class="alert alert-success myfade">
                            {{ success }}
                        </div>
                    {% endfor %}
                    {% for danger in app.session.getFlashBag.get('danger') %}
                        <div class="alert alert-danger myfade">
                            {{ danger }}
                        </div>
                    {% endfor %}
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-hover table-striped">
                        <thead>
                            <tr style="background-color: #3c8dbc; font-size:16px;">
                                <th class="mytd">Pseudo</th>
                                <th class="mytd">Nom</th>
                                <th class="mytd">Prénom</th>
                                <th class="mytdmin">Rôle</th>
                                <th class="mytd">Adresse mail</th>
                                <th class="mytd">Modifier</th>
                                <th class="mytd">Supprimer</th>
                            </tr>
                        </thead>
                        {% for user in users %}
                            <tr style="color:black;">
                                <td class="mytd" >{{ user.getPseudo() }}</td>
                                <input type="hidden" value="{{ user.getPseudo() }}" name="pseudo"  >
                                <td class="mytd" >{{ user.getNomuser() }}</td>
                                <input type="hidden" value="{{ user.getNomuser() }}" name="name"  >
                                <td class="mytd">{{ user.getPrenomuser() }}</td>
                                <input type="hidden" value="{{ user.getPrenomuser() }}" name="firstname"  >
                                <td class="mytdmin">{{ user.getRole() }}</td>
                                <input type="hidden" value="{{ user.getRole() }}" name="role"  >
                                <td class="mytd">{{ user.getEmail() }}</td>
                                <input type="hidden" value="{{ user.getEmail() }}" name="mail"  >
                                <td class="mytdminus">
                                    {# formulaire de modification de l'utilisateur via l'id_user  #}
                                    <form action="{{ path('user_edit') }}" method="post" >
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-warning btn-flat">
                                                <i class="fa fa-pencil"></i>
                                                <input type="hidden" id="id_user" name="id_user" value="{{ user.getId_User() }}">
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td class="mytdminus">
                                    {# formulaire de suppression de l'utilisatateur via l'id_user #}
                                    <form action="{{ path('user_delete', {'id_user': user.getId_User()}) }}" method="post" >
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-danger btn-flat" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer l\'utilisateur {{ user.getPseudo() }} ?')">
                                                <i class="fa fa-trash"></i>
                                                <input type='hidden' name="id_user" value="{{user.getId_User()}}">
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                         {% for user in fos_users %}
                            <tr style="color:black;">
                                <td class="mytd" >{{ user.getNom() }}</td>
                                <input type="hidden" value="{{ user.getNom() }}" name="pseudo"  >
                                <td class="mytd" >{{ user.getUsername() }}</td>
                                <input type="hidden" value="{{ user.getUsername() }}" name="name"  >
                                <td class="mytd">{{ user.getUsernameCanonical() }}</td>
                                <input type="hidden" value="{{ user.getUsernameCanonical() }}" name="firstname"  >
                                <td class="mytdmin">{# user.getRoles() #}</td>
                                <input type="hidden" value="{# user.getRoles() #}" name="role"  >
                                <td class="mytd">{{ user.getEmail() }}</td>
                                <input type="hidden" value="{{ user.getEmail() }}" name="mail"  >
                                <td class="mytdminus">
                                    {# formulaire de modification de l'utilisateur via l'id_user  #}
                                    <form action="{{ path('user_edit') }}" method="post" >
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-warning btn-flat">
                                                <i class="fa fa-pencil"></i>
                                                <input type="hidden" id="id" name="id" value="{{ user.getUsername() }}">
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td class="mytdminus">
                                    {# formulaire de suppression de l'utilisatateur via l'id #}
                                    <form action="{{ path('user_delete', {'id_user': user.getUSername() }) }}" method="post" >
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-danger btn-flat" onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer l\'utilisateur {{ user.getNom() }} ?')">
                                                <i class="fa fa-trash"></i>
                                                <input type='hidden' name="id" value="{{ user.getUsername() }}">
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tfoot>
                            <tr class="odd" >
                                <th  style="text-align: center; border: 1px solid darkgrey;">Login</th>
                                <th  style="text-align: center; border: 1px solid darkgrey;">Nom</th>
                                <th  style="text-align: center; border: 1px solid darkgrey;">Prénom</th>
                                <th  style="text-align: center; border: 1px solid darkgrey;">Rôle</th>
                                     <th  style="text-align: center; border: 1px solid darkgrey;">Adresse Mail</th>
                                <th  style="text-align: center; border: 1px solid darkgrey;">Modifier</th>
                                <th  style="text-align: center; border: 1px solid darkgrey;">Supprimer</th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}