{% extends "layout.html.twig" %}

{% block css %}
     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{#Calendrier appelé plus bas pour sélectionner la date de naissance de l'freelancer#}
{% block javascript %}
    <script>
        $(function() {
          $( "#datepicker" ).datepicker({
            dateFormat : 'yy/mm/dd',
            yearRange: '-100y:c+nn',
            changeMonth: true,
            changeYear: true,
            dayNamesMin: ['Lun', 'Ma', 'Me', 'Jeu', 'Ven', 'Sam', 'Dim']
          });
        });
    </script>
{% endblock %}

{% block title %}
    {% if freelancer is defined %}
        Formulaire de modification de {{ freelancer.getNomuser()~' '~freelancer.getPrenomuser() }}
    {% else %}
        Formulaire d'ajout d'un freelancer
    {% endif %}
{% endblock %}

{% block content %}
<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="{{ path('freelancer') }}">
        <div class="box-body">
            {% if freelancer is defined %}
                <input type="hidden" id="id_freelancer" name="id_freelancer" class="form-control" value="{{ freelancer.getId_freelancer() }}">
                <div class="form-group">
                    <label for="#">Pseudo <span style="color: red;">*</span></label>
                    {#Ajoute le nom d'un freelancer#}
                    <input type="text" id="name" name="pseudo" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ freelancer.getPseudo() }}">
                </div>
                <div class="form-group">
                    <label for="#">Nom<span style="color: red;">*</span></label>
                    {#Ajoute le prénom d'un freelancer#}
                    <input type="text" id="firstname" name="nomuser" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ freelancer.getNomuser() }}">
                </div>
                <div class="form-group">
                    <label for="#">Prénom<span style="color: red;">*</span></label>
                    {#Ajoute le prénom d'un freelancer#}
                    <input type="text" id="firstname" name="prenomuser" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ freelancer.getPrenomuser() }}">
                </div>
                <div class="form-group">
                    <label for="#">Avatar<span style="color: red;">*</span></label>
                    {#Ajoute le prénom d'un freelancer#}
                    <input type="image" id="firstname" name="url_photo" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ freelancer.getUrl_photo() }}">
                </div>
                <div class="form-horizontal">
                    <div class="form-horizontal">
                        <label for="#">Competences</label>
                        <input type="text" id="classname" name="classname" style=" width: 25% ;border-radius: 3px" class="form-control" value="" readonly>
                    </div>
                    <div class="form-horizontal" style="width:25%;margin:10px 0px ;" >
                        <label for="#">Option</label>
                        {#Ajoute l'option choisit par l'freelancer#}
                        <input type="text" id="option" name="option" class="form-control" style="border-radius: 3px; " class="form-control" value="">
                    </div>
                </div>
                <div class="form-group" style="width:25%;">
                    <label for="#">Date de naissance <span style="color: red;">*</span></label>
                    {#Crée un calendrier par rapport un code java plus haut#}
                    <div class="input-group" >
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input id="datepicker" name="age"  class="form-control" value="{{ freelancer.getAge() }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="#">Adresse email <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse mail de l'freelancer#}
                    <input type="email" id="email" name="email" class="form-control" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ freelancer.getEmail() }}">
                </div>
                <div class="form-group">
                    <label for="#">N° de téléphone</label>
                    {#Ajoute le numéro de téléphone de l'freelancer#}
                    <input type="tel"
                           pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                           id="phone" name="telephone" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ freelancer.getTelephone() }}">
                </div>
                <div class="form-group">
                    <label for="#">Adresse <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse d'un freelancer#}
                    <input id="address" name="adresse" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ freelancer.getAdresse() }}">
                </div>
               
                <small><span style="color: red;">* Champs obligatoires</span></small>
            {% else %}
                <div class="form-group">
                    <label for="#">Nom <span style="color: red;">*</span></label>
                    {#Ajoute le nom d'un freelancer#}
                    <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Dupont" name="name">
                </div>
                <div class="form-group">
                    <label for="#">Prénom <span style="color: red;">*</span></label>
                    {#Ajoute le prénom d'un freelancer#}
                    <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Jean-Michel" name="firstname">
                </div>
                <div class="form-horizontal">
                    <div class="form-horizontal">
                        <label for="#">Competences<span style="color: red;  ">*</span></label>
                    </div>
                    <div class="form-horizontal" style="width:25%;margin:10px 0px ;" >
                        <label for="#">Option</label>
                        {#Ajoute l'option choisit par l'freelancer#}
                        <input type="text" class="form-control" style="border-radius: 3px; " id="#" placeholder="Ex: SLAM" name="option">
                    </div>
                </div>
                <div class="form-group" style="width:25%;">
                    <label for="#">Age<span style="color: red;">*</span></label>

                    <div class="input-group" >
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input id="datepicker" name="age" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="#">Adresse email <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse mail de l'freelancer#}
                    <input type="email" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="email" placeholder="Ex : jeanmichou@gmail.com">
                </div>
                <div class="form-group">
                    <label for="#">N° de téléphone</label>
                    {#Ajoute le numéro de téléphone de l'freelancer#}
                    <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                           class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="telephone" placeholder="Ex : 0656543487">
                </div>
                <div class="form-group">
                    <label for="#">Adresse <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse d'un freelancer#}
                    <textarea rows="3" class="form-control" name="adresse" placeholder="Ex : 234, route des pins / Nice / 06200, France" style=" width: 25% ;border-radius: 3px" id="#"></textarea>
                </div>

                <small><span style="color: red;">* Champs obligatoires</span></small>
            {% endif %}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
        </div>
        {#Affiche un message d'ajout réussi#}
        {% for success in app.session.getFlashBag.get('success') %}
            <div class="alert alert-success fade">
                {{ success }}
            </div>
        {% endfor %}
    </form>
    <!-- /.box-footer -->

</div>

{% endblock %}

{% block javascript_end %}


{% endblock %}
    