{% extends "layout.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{#Calendrier pour Séléctionner la date de l'test#}
{% block javascript %}
    <script>
        $(function() {
            $( "#datepicker" ).datepicker({
                dateFormat : 'yy/mm/dd',
                yearRange: '-100y:c+nn',
                changeMonth: true,
                changeYear: true,
                dayNamesMin: ['Lun', 'Ma', 'Me', 'Jeu', 'Ven', 'Sam', 'Dim']
            });
        });
    </script>
{% endblock %}

{% block title %}
    {% if test is defined %}
        <meta name="viewport" content="initial-scale=1">
        Formulaire de modification du test n° {{ test.getId_test() }}
    {% else %}
        <meta name="viewport" content="initial-scale=1">
        Formulaire d'ajout de test
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <!-- Main content -->
        <div class="box-body">

        {#        FORMULAIRE DE MODIFICATION       D'EXAMEN               #}
        {% if test is defined %}
        <form class="form-horizontal" method="post" action="{{ path('test_edited') }}" style="margin-left:20px">
            <div style="width:50%; display:inline-block;float:left;">   
                <div class="form-group">
                    <label for="#">Nom du test<span style="color: red;">*</span></label>
                    {# nom de l'test#}
                    <input style="border-radius: 3px; width: 25%" type="text" class="form-control" name="name" placeholder="" value="{{ test.getId_test() }}" >
                    <input type="hidden" value="{{ test.getId_test() }}" name="id_test" >
                </div>
                <div class="form-group">
                    <label for="#">Catégorie<span style="color: red;">*</span></label>
                    <select class="form-control" name="categorie" style="border-radius: 3px; width:50%;"> </select>
                </div>
                <div class="form-group">
                    <label for="#">Compétence Associée<span style="color: red;">*</span></label>
                     <select class="form-control" name="competence" style="border-radius: 3px; width:50%;"> </select>
                </div>
             
                <div class="form-group">
                    <label for="#">Description</label>
                    <textarea  class="form-control" rows="3" style="width: 50%; border-radius: 3px" name="description" placeholder=""></textarea>
                </div>

                 <div class="form-group">
                    <label for="#">Lien vers le fichier Test</label>
                    <textarea  class="form-control" rows="1" style="width: 50%; border-radius: 3px" name="url_test" placeholder=""></textarea>
                </div>
            </div>
                
            <div style="width:50%; display:inline-block;float:right; ">   
                
                <div class="form-group">
                    <label for="#">Résultat</label>
                    <textarea  class="form-control" rows="3" style="width: 50%; border-radius: 3px" name="resultat" placeholder=""></textarea>
                </div>  
                <div class="form-group">
                    <label for="#">Date de passage</label>
                    <textarea  class="form-control" rows="3" style="width: 50%; border-radius: 3px" name="date_passage" placeholder=""></textarea>
                </div>

                <div class="form-group">
                    <label for="#">Description</label>
                    <input class="form-control" style="width:50%; height:100px; border-radius: 3px" name="description" placeholder="" type="text" value="" >
                </div>
                <div class="form_group">
                    <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
                </div>
                
            </div>        
         </form>


                {% else %}

                    {#        FORMULAIRE D'AJOUT  DE TEST               #}
            <form class="form-horizontal" method="post" action="{{ path('added_test') }}" style="margin-left:20px">
                  <div style="width:50%; display:inline-block;float:left;">   
                    <div class="form-group">
                            <label for="#">Nom du test<span style="color: red;">*</span></label>  
                            {#Ajoute le nom d'un test#}
                            <input style="border-radius: 3px; width: 25%" type="text" class="form-control" name="name" placeholder=""/>
                        </div>

                        <div class="form-group">
                            <label for="#">Catégorie<span style="color: red;">*</span></label>
                            <select class="form-control" name="categorie" style="border-radius: 3px; width:50%;"> </select>
                        </div>
                        <div class="form-group">
                            <label for="#">Compétences Associées<span style="color: red;">*</span></label>
                                <select class="form-control" name="competence" style="border-radius: 3px; width:50%;"> </select>
                        </div>
                            
       

                         <div class="form-group">
                            <label for="#">Lien vers le fichier Test</label>
                            <textarea  class="form-control" rows="1" style="width: 50%; border-radius: 3px" name="url_test" placeholder=""></textarea>
                        </div>
                    </div>       
                    <div style="width:50%; display:inline-block;float:right;">           
                        <div class="form-group">
                            <label for="#">Résultat</label>
                            <textarea  class="form-control" rows="3" style="width: 50%; border-radius: 3px" name="resultat" placeholder=""></textarea>
                        </div>  
                        <div class="form-group">
                            <label for="#">Date de passage</label>
                            <textarea  class="form-control" rows="3" style="width: 50%; border-radius: 3px" name="date_passage" placeholder=""></textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="#">Description</label>
                            <textarea  class="form-control" rows="3" style="width: 50%; border-radius: 3px" name="description" placeholder=""></textarea>
                        </div>

                        <div class="form_group">
                            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
                        </div>
                    </div>
             </form>
                {% endif %}

            </div>
            {#Affiche un message d'ajout réussi#}
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success fade">
                    {{ success }}
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}

