{% trans_default_domain 'FOSUserBundle' %}

<div class="formulairetop">
    {% block soustitre %} 
        <h2 class="mysubtitle">Formulaire d'inscription</h2> 
    {% endblock %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'style':'margin-top:-3%; background-color:#E0E0E1; margin-bottom:20%; padding:2%; border-radius:0px 0px 8px 8px ;'} }) }}

    {{ form_errors(form) }}
    <div style="margin-left:20%; text-align:center; width:60%">
        {% if form_errors(form) %}
            <h3 class="myerror">{{ form_errors(form) }}</h3>
        {% endif %}
        
        {% if form_errors(form.username) %}
            <h3 class="myerror">{{ form_errors(form.username) }}</h3>
        {% endif %} 
                 
        {% if form_errors(form.email) %}
            <h3 class="myerror">{{ form_errors(form.email) }}</h3>
        {% endif %} 
                 
        {{ form_row(form.roles) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form._token) }}
        {{ form_row(form.plainPassword) }}


    </div>
    <div style="margin-top:3%;">
        <input type="submit" data-ajax="false" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
