{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Messages</a></h1>  

{% endblock %}

{% block body %}    

    {% if messages_send[0].idUserFrom.username is defined %}
        <div class="formulairetop">
            <h2 class="mysubtitle">Liste des Messages Envoyés par '{{ messages[0].idUserFrom.username }}'</h2>
            <div class="mycontentform">
                <table class="tableautitle">
                    <thead>
                        <tr class="tableautitlecontent">
                            <th class="center">De</th>
                            <th class="center">Pour</th>
                            <th class="center">Type</th>
                            <th class="center">Sujet</th>
                            <th class="center">Contenu</th>
                            <th class="center">Date</th>
                            <th class="center">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="mytbody">
                        {% for message in messages %}
                            <tr>
                                <a class="mydisplaynone" href="{{ path('message_show', { 'id': message.idMessage }) }}">{{ message.idMessage }}</a>

                                <td class="mytdtab">{{ message.idUserFrom.username }}</td>
                                <td class="mytdtab2">{{ message.idUserFor.username  }}</td>
                                <td class="mytdtab">{{ message.type }}</td>
                                <td class="mytdtab2">{{ message.sujet }}</td>
                                <td class="mytdtab">{{ message.contenu }}</td>
                                <td class="mytdtab2">{% if message.date %}{{ message.date|date('d-m-Y H:i:s') }}{% endif %}</td>

                                <td class="mytdtab">
                                    <ul>
                                        <li style="display:inline-block;margin-top:8px;">
                                            <a class="btn btn-success" href="{{ path('message_show', { 'id': message.idMessage }) }}">Afficher</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if messages_received[0].idUserFrom.username is defined %}
        <div class="formulairetop">
            <h2 class="mysubtitle">Liste des Messages reçus par '{{ messages[0].idUserFrom.username }}'</h2>
            <div class="mycontentform">
                <table class="tableautitle">
                    <thead>
                        <tr class="tableautitlecontent">
                            <th class="center">De</th>
                            <th class="center">Pour</th>
                            <th class="center">Type</th>
                            <th class="center">Sujet</th>
                            <th class="center">Contenu</th>
                            <th class="center">Date</th>
                            <th class="center">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="mytbody">
                        {% for message in messages %}
                            <tr>
                                <a class="mydisplaynone" href="{{ path('message_show', { 'id': message.idMessage }) }}">{{ message.idMessage }}</a>

                                <td class="mytdtab">{{ message.idUserFrom.username }}</td>
                                <td class="mytdtab2">{{ message.idUserFor.username  }}</td>
                                <td class="mytdtab">{{ message.type }}</td>
                                <td class="mytdtab2">{{ message.sujet }}</td>
                                <td class="mytdtab">{{ message.contenu }}</td>
                                <td class="mytdtab2">{% if message.date %}{{ message.date|date('d-m-Y H:i:s') }}{% endif %}</td>

                                <td class="mytdtab">
                                    <ul>
                                        <li style="display:inline-block;margin-top:8px;">
                                            <a class="btn btn-success" href="{{ path('message_show', { 'id': message.idMessage }) }}">Afficher</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    
    
    {% if is_granted("ROLE_ADMIN") and messages_received[0].idUserFrom.username is not defined and  messages_send[0].idUserFrom.username is not defined %}
        <div class="formulairetop">
            <h2 class="mysubtitle">Liste de tous les Messages: Administration</h2>
            <div class="mycontentform">
                <table class="tableautitle">
                    <thead>
                        <tr class="tableautitlecontent">
                            <th class="center">De</th>
                            <th class="center">Pour</th>
                            <th class="center">Type</th>
                            <th class="center">Sujet</th>
                            <th class="center">Contenu</th>
                            <th class="center">Date</th>
                            <th class="center">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="mytbody">
                        {% for message in messages %}
                            <tr>
                                <a class="mydisplaynone" href="{{ path('message_show', { 'id': message.idMessage }) }}">{{ message.idMessage }}</a>

                                <td class="mytdtab">{{ message.idUserFrom.username }}</td>
                                <td class="mytdtab2">{{ message.idUserFor.username  }}</td>
                                <td class="mytdtab">{{ message.type }}</td>
                                <td class="mytdtab2">{{ message.sujet }}</td>
                                <td class="mytdtab">{{ message.contenu }}</td>
                                <td class="mytdtab2">{% if message.date %}{{ message.date|date('d-m-Y H:i:s') }}{% endif %}</td>

                                <td class="mytdtab">
                                    <ul>
                                        <li style="display:inline-block;margin-top:8px;">
                                            <a class="btn btn-success" href="{{ path('message_show', { 'id': message.idMessage }) }}">Afficher</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    
{% endblock %}
