{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Messages</a></h1>  

{% endblock %}

{% block body %} 
    <div class="formulairetop">
        <h2 class="mysubtitle">
            Envoyer un Message à 
            {% if societe.denomination is defined %}{{ societe.denomination }}{% endif %}
            {% if freelancer.pseudo is defined %}{{ freelancer.pseudo }}{% endif %}
        </h2>
        <div class="mycontentform">           
            {{ form_start(form) }}

                <div style="width:50%;margin-left:25%;">
                    {{ form_row(form.type) }}

                    {{ form_row(form.sujet) }}
                </div>

                {{ form_row(form.contenu) }}
                    
                {% if societe.denomination is defined %}
                       <input class="myeditinput" href="{{ path('message_show', { 'id': societe.id } ) }}" type="submit" value="Envoyer" />
                 {% elseif freelancer.pseudo is defined %}
                    <input class="myeditinput" href="{{ path('message_show', { 'id': freelancer.id } ) }}" type="submit" value="Envoyer" />
               {% endif %}
               
            {{ form_end(form) }}

        </div>
    </div>
    {% endblock %}
