{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Messages</a></h1>  

{% endblock %}

{% block body %}   
    <div class="formulairetop">
        <h2 class="mysubtitle">Détail du Message de '{{ message.idUserFrom.username }}' pour '{{ message.idUserFor.username }}'</h2>
        <div class="mycontentformshow">           
          
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow2">De</th>
                        <td class="mytdtabshow2">{{ message.idUserFrom.username }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Pour</th>
                        <td class="mytdtabshow">{{ message.idUserFor.username }}</td>
                    </tr>
                  
                    <tr>
                        <th class="mytdtabshow2">Type</th>
                        <td class="mytdtabshow2">{{ message.type }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Sujet</th>
                        <td class="mytdtabshow">{{ message.sujet }}</td>
                    </tr>
           
                    <tr>
                        <th class="mytdtabshow2">Date</th>
                        <td class="mytdtabshow2">{% if message.date %}{{ message.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                    </tr>
                    
                    <tr>
                        <th class="mytdtabshow">Contenu</th>
                        <td class="mytdtabshow">{{ message.contenu }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
