{% trans_default_domain 'FOSUserBundle' %}


<div class="formulairetop">
    <h2 class="mysubtitle">Modification du mot de passe</h2>
    <div class="mycontentform">
        <ul>
            <li class="returnlist">
                <a data-ajax="false" class="btn btn-default" href="{{ path('user_index') }}">Retourner à la liste</a>
            </li>
        </ul>
        <table class="tableautitle">
            <tbody>                     
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-default" data-ajax="false" type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
           
            </tbody>
            </table> 
            
        </div>
    </div>
