{% trans_default_domain 'FOSUserBundle' %}


<div class="formulairetop">
    {% block soustitre %} 
        <h2 class="mysubtitle">Formulaire de modification du mot de passe</h2> 
    {% endblock %}
    <div class="mycontentform">
        <ul>
            <li class="returnlist">
                <a class="btn btn-default" href="{{ path('user_show', { 'id': app.user.id } ) }}">Retourner aux informations Utilisateurs</a>
            </li>
        </ul>
        <div  style="margin-right:30%; margin-left:10%; width:60%; text-align:center; background:rgba(255,255,255,0.1); padding:50px;">
       
            
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div style="float:right">
                    <input class="myeditinput" style="margin-top:100px" type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
           
       
            </div> 
            
    </div>
</div>
