{% trans_default_domain 'FOSUserBundle' %}
 
<div class="formulairetop">
    {% block soustitre %} 
        <h2 class="mysubtitle">Formulaire d'édition du Profil</h2> 
    {% endblock %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' , 'style':'margin-top:-3%; background-color:#E0E0E1; margin-bottom:20%; padding:2%; border-radius:0px 0px 8px 8px ;'} }) }}
    {{ form_errors(form) }}
    <div style="margin-left:30%; text-align:center; width:40%">
        {{ form_widget(form) }}
   </div>
    <div style="margin-top:3%;">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}

