{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Utilisateurs</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Utilisateurs </h2>
        <div class="mycontentform">
            <ul>
                <li>
                    <a class="addtab"  href="{{ path('user_new') }}">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer un nouvel Utilisateur</span>
                    </a>
                </li>
            </ul>
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
        
                        <th class="center">Nom</th>
                        <th class="center">Prénom</th>
                        <th class="center">Roles</th>
                        <th class="center">Dernière Connexion</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for user in users %}
                    <tr>
                        <td class="mytdtab" >{{ user.username }}</td>
                        <td class="mytdtab">{{ user.firstname }}</td>
                        <td class="mytdtab" >{% for role in user.roles  %}{{ role }}<br/>{% endfor %}   </td>
                        <td class="mytdtab2" >{{ user.lastlogin|date("d/m/Y") }}</td>
                        <td class="mytdtab">
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" data-ajax="false" href="{{ path('user_show', { 'id': user.id }) }}">Afficher</a>
                                </li>
                                <li  style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;"  data-ajax="false" href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
                                </li>
                              
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

           
        </div>
    </div>
{% endblock %}
