{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Utilisateurs</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Profil de l'Utilisateur {{ user.username }}</h2>
        <div class="mycontentformshow">
            {% if is_granted("ROLE_ADMIN") %}
                <ul>
                    <li class="returnlist">
                        <a class="btn btn-default" href="{{ path('user_index') }}">Retourner à la liste</a>
                    </li>
                </ul>  
            {% endif %}
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow2">Utilisateur</th>
                        <td class="mytdtabshow2">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Role</th>
                        <td class="mytdtabshow">{% for role in user.roles  %}{{ role }}<br/>{% endfor %} </td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Email</th>
                        <td class="mytdtabshow2">{{ user.email }}</td>
                    </tr>
                    {% if is_granted("ROLE_FREELANCER") and freelancer %}
                        <tr>
                            <th class="mytdtabshow"> Description</th>
                            <td class="mytdtabshow">{{ freelancer.description }}</td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow2">Pseudo</th>
                            <td class="mytdtabshow2">{{ freelancer.pseudo }}</td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow">nationalite</th>
                            <td class="mytdtabshow">{{ freelancer.nationalite }}
                                <img class="mydrapeau" style="display:inline-block; width:100px; height:50px; margin-top:0px;"  src="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/drapeau/{{ freelancer.nationalite }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/drapeau/{{ freelancer.nationalite }}{% endif %}.gif" /> 
                            </td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow2">Age</th>
                            <td class="mytdtabshow2">{{ freelancer.age}}</td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow">Curriculum Vitae</th>
                            <td class="mytdtabshow">
                                <a href="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/cv/{{ freelancer.pseudo }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/cv/{{ freelancer.pseudo }}{% endif %}">
                                    <i class="fa fa-download fa-3x"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow2">Photo</th>
                            <td class="mytdtabshow2">
                                <img class="myimg" src="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/photo/{{ freelancer.pseudo }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/photo/{{ freelancer.pseudo }}{% endif %}"  /></td>
                        </tr>
                    {% elseif is_granted("ROLE_SOCIETE") and societe%}   
                        <tr>
                            <th class="mytdtabshow">Denomination</th>
                            <td class="mytdtabshow">{{ societe.denomination }}</td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow2">Presentation</th>
                            <td class="mytdtabshow2">{{ societe.presentation }}</td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow">Adresse</th>
                            <td class="mytdtabshow">{{ societe.adresse }}</td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow2">Téléphone</th>
                            <td class="mytdtabshow2">{{ societe.tel}}</td>
                        </tr>
                        <tr>
                            <th class="mytdtabshow">Logo</th>
                            <td class="mytdtabshow">
                                <img class="myimg" src="{% if app.request.server.get('BASE') %}{{ app.request.server.get('BASE')}}/user/logo/{{ societe.denomination }}{% else %}{{ app.request.get('HTTP_HOST')}}/web/user/logo/{{ societe.denomination }}{% endif %}">
                            </td>
                        </tr>
                    {% elseif is_granted("ROLE_SOCIETE") %}  
                        {% if not societe %}
                        <li class="myeditli">
                            <a class="btn btn-default"  href="{{ path('societe_new') }}">Créer mon Profil Societe</a>
                        </li>
                    {% endif %}
                {% elseif is_granted("ROLE_FREELANCER") %}  
                    {% if not freelancer %}
                        <li class="myeditli">
                            <a class="btn btn-default"  href="{{ path('freelancer_new') }}">Créer mon Profil Freelancer</a>
                        </li>
                    {% endif %}  
                {% endif %}  
                <tr>
                    <th class="mytdtabshow2">Dernière Connexion</th>
                    <td class="mytdtabshow2">{% if user.lastLogin %}{{ user.lastLogin|date('d/m/Y H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
            <ul>

                <li class="myeditli">
                    <a class="btn btn-info" style="color:white;"  href="{{ path('user_edit', { 'id': user.id }) }}">Modifier les informations UTILISATEUR</a>
                </li>
                {% if is_granted("ROLE_FREELANCER") and freelancer.id is defined %}
                    <li class="myeditli">
                        <a class="btn btn-info" style="color:white;"  href="{{ path('freelancer_edit', { 'id': freelancer.id }) }}">Modifier mon profil FREELANCER</a>
                    </li>
                {% elseif is_granted("ROLE_FREELANCER") and freelancer.id is not defined %}
                    <li class="myeditli">
                        <a class="btn btn-success" style="color:white;"  href="{{ path('freelancer_new') }}">Créer mon profil FREELANCER</a>
                    </li>
                {%endif %}
                
                {% if is_granted("ROLE_SOCIETE")  and societe.id is defined %}
                    <li class="myeditli">
                        <a class="btn btn-info" style="color:white;"  href="{{ path('societe_show', { 'id': societe.id }) }}">Voir mon profil SOCIETE</a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li  class="mydeleteli">
                        {{ form_start(delete_form) }}
                        <input type="submit"  value="Supprimer l'utilisteur">
                        {{ form_end(delete_form) }}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
