{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Edition d'un Projet</h2>
            <div class="mycontentform">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('user_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                    {{ form_start(edit_form) }}
                        
                        {{ form_row(edit_form.intitule) }}
                        {{ form_row(edit_form.description) }}
                        {{ form_row(edit_form.prix) }}
                        {{ form_row(edit_form.etat) }}
                        {{ form_row(edit_form.cahierdescharges) }}
                        {{ form_row(edit_form.societe) }}
                        <input type="submit" rel="external" value="Enregistrer les modifications" />
                    {{ form_end(edit_form) }}
                    </tr>
                </tbody>
            </table>
            <ul>
                <li class="myeditli">
                    <a class="btn btn-info" style="color:white;"  href="{{ path('cahierdescharges_show', { 'id': projet.idCdc }) }}">Voir le cahier des charges</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li  class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit" rel="external" value="Supprimer le projet">
                    {{ form_end(delete_form) }}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
