{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Projets</h2>
        <div class="mycontentform">
            {% if is_granted('ROLE_USER') %}
             <ul>
                <li>
                    <a class="addtab"  href="{{ path('projet_new') }}">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer un nouveau Projet</span>
                    </a>
                </li>
            </ul>
            {% endif %}
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Intitulé du projet</th>
                        <th class="center">Prix</th>
                        <th class="center">Etape</th>
                        <th class="center">Description</th>
                        <th class="center">Societe</th>
                        <th class="center">Cahier des charges</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for projet in projets %}
                    <tr>
                        <a class="mydisplaynone" href="{{ path('projet_show', { 'id': projet.id_projet }) }}">{{ projet.id_projet }}</a>
                        <td class="mytdtab">{{ dump(projet) }}</td>
                        <td class="mytdtab2">{{ projet.prix }}</td>
                        <td class="mytdtab">{{ projet.etape }}</td>
                        <td class="mytdtab2">{{ projet.description }}</td>
                        <td class="mytdtab">{{ projet.id_societe }}</td>
                        <td class="mytdtab2">{{ projet.idCdc }}</td>
                        <input type="hidden" value="{{ projet.id_projet }}" />
                        <td class="mytdtab">
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" href="{{ path('projet_show', { 'id': projet.id_projet }) }}">Afficher</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;" href="{{ path('projet_edit', { 'id': projet.id_projet }) }}">Modifier</a>
                                </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
           
            <h2 style="text-align:center;">TODO:  </h2>
                <h4 style="text-align:center;">Accéder au Cahier des charges</h4>
                <h4 style="text-align:center;">Faire une Offre pour ce Projet</h4>
           
            {% endif %}
        </div>
    </div>
{% endblock %}
