{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Projet</h2>
        <div class="mycontentform">
            
            <ul>
                <li class="returnlist">
                    <a data-ajax="false" class="btn btn-default" href="{{ path('projet_index') }}">Retourner à la liste</a>
                </li>
            </ul>

            {{ form_start(form) }}
                {{ form_row(form.intitule,{'label': 'Intitulé du projet'}) }}
                {{ form_row(form.description,{'label': 'Descriptif du projet'}) }}
                {{ form_row(form.prix,{'label': 'Tarif / Horaire - Forfait'}) }}
                
                <div style="margin-top:50px;">
                    {{ form_row(form.cahierdescharges) }}
                </div>
                
                <input type="submit"  class="myeditinput"  value="Publier le projet" />

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
