{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Projet</h2>
        <div class="mycontentform">
            <ul>
                <li class="returnlist">
                    <a data-ajax="false" class="btn btn-default" href="{{ path('projet_index') }}">Retourner à la liste</a>
                </li>
            </ul>

                    <form action="{{ path('projet_new') }}" method="post" >
                        
                        {{ form_row(form.intitule,{'label': 'Intitulé du projet'}) }}
                        {{ form_row(form.description,{'label': 'Descriptif du projet'}) }}
                        {{ form_row(form.etat,{'label': 'Avancement du projet'}) }}
                        {{ form_row(form.prix,{'label': 'Tarif / Horaire - Forfait'}) }}
       
                        {% if societe is defined %}      
                            <input type="hidden" name="societe" class="mytdtabshow2" style=" font-size:17px;"value="{{ societe.id }}" >
                        {% endif %} 
                        
                        <input type="submit"  class="myeditinput"  value="Ajouter le projet" />
                    </form>

            <ul>
             
            </ul>
        </div>
    </div>
{% endblock %}
