{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Afficher le Projet</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('projet_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow">id_projet</th>
                        <td class="mytdtabshow">{{ projet.id_projet }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Prix</th>
                        <td class="mytdtabshow2">{{ projet.prix }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Etape</th>
                        <td class="mytdtabshow">{{ projet.etape }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Description</th>
                        <td class="mytdtabshow2">{{ projet.description }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">id_societe</th>
                        <td class="mytdtabshow">{{ projet.id_societe }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Idcdc</th>
                        <td class="mytdtabshow2">{{ projet.idCdc }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li class="myeditli">
                    <a class="btn btn-info" style="color:white;" href="{{ path('projet_edit', { 'id': projet.id_projet }) }}">Modifier</a>
                </li>
                <li class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
                
    </div>
{% endblock %}
