{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h1 class="mysubtitle">Afficher le Projet</h1>
        <div class="mycontentform">
            <table>
                <tbody>
                    <tr>
                        <th>Idprojet</th>
                        <td>{{ projet.idProjet }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ projet.prix }}</td>
                    </tr>
                    <tr>
                        <th>Etape</th>
                        <td>{{ projet.etape }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ projet.description }}</td>
                    </tr>
                    <tr>
                        <th>Idsociete</th>
                        <td>{{ projet.idSociete }}</td>
                    </tr>
                    <tr>
                        <th>Idcdc</th>
                        <td>{{ projet.idCdc }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('projet_index') }}">Retourner à la liste</a>
                </li>
                <li>
                    <a href="{{ path('projet_edit', { 'id': projet.idProjet }) }}">Modifier</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
