{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Projets</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Projet: {{ projet.intitule }}</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a data-ajax="false" class="btn btn-default" href="{{ path('projet_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle" style="margin-top:50px">
                <tbody>
                    <tr>
                        <th class="mytdtabshow2">Société</th>
                        <td class="mytdtabshow2">{{ projet.societe.denomination }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Intitulé du Projet</th>
                        <td class="mytdtabshow">{{ projet.intitule }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Description</th>
                        <td class="mytdtabshow2">{{ projet.description }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Prix</th>
                        <td class="mytdtabshow">{{ projet.prix }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Etat d'avancement</th>
                        <td class="mytdtabshow2">{{ projet.etat }}</td>
                    </tr>

                    <tr>
                        <th class="mytdtabshow">Cahier des Charges</th>
                        <td class="mytdtabshow">
                            <a href="{% if projet.cahierdescharges is defined %}{{ projet.cahierdescharges }}{% endif %}">
                                <i class="fa fa-download" style="font-size:72px"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ul> 
                {% if is_granted("ROLE_ADMIN") %}
                <li class="myeditli">
                    <a data-ajax="false" class="btn btn-info" style="color:white;" href="{{ path('projet_edit', { 'id': projet.id }) }}">Modifier</a>
                </li>  
                <li  class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit" rel="external" value="Supprimer le projet">
                    {{ form_end(delete_form) }}
                </li>
                {% endif %}
            </ul>
        </div>
                
    </div>
{% endblock %}
