{% extends "layout.html.twig" %}

{% block style %}{% endblock %}
{% block javascript %}
    <script>
     $(document).ready(function(){  
         
       $(".alert-success").fadeToggle(8000);

  
    
    });
    </script>
{% endblock %}
{% block titre %}
    <h1 id="logo"><a class="bigtitle">Free Demat'Lancer's</a></h1>
{% endblock %}



{% block body %}
    <div style="margin-left:15%;width:80%; ">
        {% if is_granted("ROLE_USER") %}
            <div class="inner" style="padding-bottom:0vw; margin-top:30px;"></div>
        {% else %}
            <div class="inner" style="padding-bottom:0vw; margin-top:80px;"></div>
        {% endif %}
        <div style="margin-left:10%;">
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success" >
                    {{ success }}
                </div>
            {% endfor %}

            {% for error in app.session.getFlashBag.get('success') %}
                <div class="alert alert-error">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <section id="banner" style="" >
            <div style="display: inline-block; margin-right:5%; width:40%;color:white; {% if is_granted("ROLE_USER") %} margin-top: 50px; {% endif %}">
                <p style=" font-size:1.2vw; text-align: center; ">Projets web - Logiciels</p>
                <a href="{{ path('projet_index') }}"  class="button btn btn-primary icon fa-info" style=" padding:1vw 4vw 2vw 4vw  ;border-radius:8px;">
                    Consulter les projets en ligne
                    <br><br>
                    <img style="width:25vw" src="images/projet.png">
                </a>
            </div>

            <div style=" display: inline-block;color:white; width:40%; ">
                <p style=" font-size:1.2vw; text-align: center; ">Développeurs et Programmeurs</p>
                <a href="{{ path('freelancer_index') }}"  class="button btn btn-primary icon fa-female" style=" padding:1vw 4vw 2vw 4vw  ; border-radius:8px;">
                    Voir les profils des Freelancers
                    <br><br>
                    <img style="width:25vw"  src="images/profil.png">
                </a>
            </div>

        </section>
    </div>

    <div id="banner-wrapper" style="margin-left:14vw; width:73%;margin-bottom:5%;">
        <div class="inner" >
            <div style="font-weight:100; font-size:2rem;  margin-left:-100px;"> <i class="fa-laptop  icon"></i><strong> &nbsp;&nbsp;  Formulaire de Contact :&nbsp;&nbsp; </strong>Mot de passe perdu ? </div>
            <section id="banner" class="container">           
                <div class="row" >
                    <div class="6u 12u(mobile)"  style="margin-left:20%"> 
                        <section >
                            <form method="post" action="{{ path('front', {'etat' : 'EmailEnvoye' }) }}" >

                                <div style="width:15vw; display:inline-block;">
                                    <label>Pseudo</label>
                                    <input class="btn btn-info" required name="name" style="width:15vw;border-radius:8px;  " type="text" />
                                </div>
                                <div style="display:inline-block;  width:15vw; " >
                                    <label>Email</label>
                                    <input class="btn btn-info" required name="email" type="email" style="width:15vw;  border-radius:8px;border:none;padding-bottom:8px; padding-top:8px; " type="text" />
                                </div>

                                <div style=" width:30vw; " >
                                    <label>Objet</label>
                                    <input class="btn btn-info" required name="objet" style="width:30vw; border-radius:8px; " type="text" />
                                </div>
                                <div>
                                    <div>
                                        <label>Message</label>
                                        <textarea rows="4" cols="50" name="body"></textarea>
                                    </div>
                                </div>
                                <div style=" width:30vw; " >
                                    <div >
                                        <input type="submit" class="myeditinput icon fa-envelope" style="margin-left:80%;"  value="Envoyer">
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>                
            </section>
        </div> 
    </div> 
{% endblock %}



