{% extends "layout.html.twig" %}

{% block style %}{% endblock %}
    
{% block titre %}
        <h1 id="logo"><a class="bigtitle">Free Demat'Lancer's</a></h1>
{% endblock %}


{% block body %}
    <!-- Main -->

    <!-- Banner -->
    <div id="banner-wrapper" style="margin-top:5.3%; margin-left:4%;width:93%;">
        <div class="inner" style="padding-bottom:0vw;">
            <section id="banner" class="container">
                <p>Projet en ligne / &nbsp;Développeurs Connectés
                    <br />
                </p>
          
                <ul class="actions">
                    <li><a href="{{ path('projet_index') }}"  class="button btn btn-info icon fa-info" >Consulter les projets</a></li>
                    <li><a href="{{ path('freelancer_index') }}"  class="button btn btn-success icon fa-female">Voir les profils des Freelancers</a></li>
                </ul>
                  
            </section>
        </div>
    </div> 

    <!-- Banner -->
    <div id="banner-wrapper" style=" margin-left:4%;width:93%;">
        <div class="inner">
            <div class="inner">
                <section id="banner" class="container">
                    <p>Elaboration de cahier des charges <strong>Contrat</strong>.<br />
                        Paiement en ligne</p>

                    <!-- Ajout d'un projet -->
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                        <!--  <input type="submit"  data-ajax="false"  value="Editeur de texte intégré" style="margin:5px;"/> -->
                    {{ form_end(form) }}

                </section>
            </div>
        </div>
    </div>

    <!-- Footer -->               
    <div id="banner-wrapper"  style="margin-left:15vw;width:70vw;margin-bottom:5%;">
        <div class="inner">
            <section id="banner" class="container">           
                <header>
                    <h2 >Questions ou Commentaires ? <strong>C'est ici:</strong></h2>
                </header>
                <div class="row">
                    <div class="6u 12u(mobile)" style="margin-left:20%;"> 
                        <section>
                            <form method="post" action="">
                                <div class="row 50%">
                                    <div class="6u 12u(mobile)">
                                        <label>Pseudo</label>
                                        <input name="name" style="width:14vw; background-color:#216FCD" type="text" />
                                    </div>
                                    <div class="6u 12u(mobile)">
                                        <label>Email</label>
                                        <input name="email" style="width:14.1vw; background-color:#216FCD;" type="text" />
                                    </div>
                                    <div>
                                        <label>Objet</label>
                                        <input name="objet"style="width:29vw; background-color:#216FCD" type="text" />
                                    </div>
                                </div>
                                <div class="row 50%">
                                    <div>
                                        <label>Message</label>
                                        <textarea name="message"  style="width:29vw;height:50px; background-color:#0186E2;"  ></textarea>
                                    </div>
                                </div>
                                <div class="row 40%">
                                    <div >
                                        <input type="submit" class="myeditinput icon fa-envelope" style="margin-left:80%;"  value="Envoyer">
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>             
            </section>
        </div> 
        <div class="6u 12u(mobile)">
                <section>

                    <div class="row" style="margin-left:50vw;">

                        <div class="6u 12u(mobile)">
                            <ul class="icons" >
                                <li class="icon fa-twitter">
                                    <a href="#" style="color:white;text-shadow:1px 1px black;">@freelancer</a>
                                </li>
                                <li class="icon fa-instagram">
                                    <a href="#" style="color:white;text-shadow:1px 1px black;">instagram.com/freelancer</a>
                                </li>
                                <li class="icon fa-dribbble">
                                    <a href="#" style="color:white;text-shadow:1px 1px black;">dribbble.com/freelancer</a>
                                </li>
                                <li class="icon fa-facebook">
                                    <a href="#" style="color:white;text-shadow:1px 1px black;">facebook.com/freelancer</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>    
{% endblock %}


