{% extends "layout.html.twig" %}

{% block titre %}
    <h1 id="logo"><a href="front" style="color:#21D8DE;">Freelance Project</a></h1>
{% endblock %}

{% block body %}
               
                        
    <div id="page-wrapper">
        

        
        <!-- Features -->
                <div class="row" style="background:white; padding-right:25px;width:94vw; padding-bottom:3vw">
                   
                    <div class="4u 12u(mobile)">
                        <center>
                            <h2>Plus Rapide <strong>et accessible gratuitement</strong>!</h2>
                        </center> 
                        <!-- Feature -->
                        <section>
                            <a href="#" class="image featured"><img src="bureau.jpg" alt="" /></a>
                            <header>
                                <h3>Okay, so what is this?</h3>
                                <p>Je m’en rappellerais si j’avais créé un programme capable de parler. 
                                    Et puis tiens, je suis en train de taper la causette avec un ordinateur !
                                    Je deviens vraiment cinglé ! C’est fini, j’arrête l’informatique !
                                </p>
                            </header>
                        </section>

                    </div>

                    <div class="4u 12u(mobile)">
                        <center>
                            <h2>Formulaires simples et <strong>intuitifs</strong></h2>
                        </center> 
                        <!-- Feature -->
                        <section>
                            <a href="#" class="image featured"><img src="people.png" alt="" style="height:17vh; width:17vh; padding:2vh;;margin-left:30%" /></a>
                            <header>
                                <h3>Nice! What is HTML5 UP?</h3>
                            </header>
                            <p>La journée commence. Il s’habille comme il peut tout en prenant son café. 
                                Chemise blanche repassée la veille par lui-même. 
                                Une cravate comme tous les jours. Et son costume noir de chez Sam Montiel, très chic et très branché. 
                                Chaussures cuir noir. Comme il aime faire remarquer : "Vous êtes soit dans vos chaussures, soit dans votre lit. 
                                Alors il faut de bonnes chaussures et une bonne literie !".
                                La météo a annoncé un ciel bleu et des températures au-dessus de la normale saisonnière.
                                C’est un très beau mois de mai qui s’annonce.</p>
                        </section>

                    </div>
                    
                    <!-- Sidebar -->
                    <div id="sidebar" class="4u 12u(mobile)">
                        <!-- Formulaire de recherche -->
                        {{ form_start(formRecherche) }}
                           {{ form_widget(formRecherche) }}
                           <input type="submit" style="margin:15px;margin-left:32%"/>
                        {{ form_end(formRecherche) }}
                    </div>
        
                    <div class="4u 12u(mobile)">
                        <center>
                            <h2>Echanges <strong>&nbsp;Securisés </strong><br>Espace Privé</h2>
                        </center> 
                        <!-- Feature -->
                        <section>
                            <a href="#" class="image featured"><img src="world.jpg" alt="" style="height:15vh; width:15vh; padding:2vh;margin-left:35%"/></a>
                            <header>
                                <h3>What's that?</h3>
                            </header>
                            <p>C’est lui aussi qui était à la base du dernier processeur, le sphéro.
                                Un processeur ayant une architecture en forme de sphère et capable de traiter les informations à une vitesse jamais atteinte. 
                                Tous les ordinateurs en étaient équipés. Le créateur officiel, le Dr. Stewart Davis, 
                                n’était bien sûr pas au courant de la présence de Prélude dans son projet. 
                                Prélude avait simplement suggéré légèrement au Dr. En modifiant légèrement ses documents.</p>
                        </section>

                    </div>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button icon fa-file">En savoir plus</a></li>
                </ul>
            </section>
        </div>
                      
        <!-- Banner -->
        <div id="banner-wrapper">
            <div class="inner">
                <section id="banner" class="container">
                    <p>Projet en ligne / <strong>&nbsp;Développeurs Connectés</strong>.<br />
                        Consulter les projets</p>
                   <!-- Ajout d'un projet -->
                        {{ form_start(form) }}
                           {{ form_widget(form) }}
                           <input type="submit" style="margin:5px;"/>
                        {{ form_end(form) }}
                        
                        
                        
                </section>
            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div id="main" class="container">
                <div class="row">

                    <!-- Content -->
                    <div id="content" class="8u 12u(mobile)">

                        <!-- Post -->
                        <article class="box post">
                            <header>
                                <h2><a href="#">I don’t want to say <strong>it’s the aliens</strong> ...<br />
                                        but it’s the aliens.
                                    </a></h2>
                
                            </header>
                            <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                            <h3>I mean isn't it possible?</h3>
                        <p>Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia, 
                            demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, 
                            sur les côtes de la Sémantique, un vaste océan de langues. Un petit ruisseau, du nom de Larousse, 
                            coule en leur lieu et les approvisionne en règlalades nécessaires en tout genre; un pays paradisiagmatique,
                            dans lequel des pans entiers de phrases prémâchées vous volent litéralement tout cuit dans la bouche. 
                            Pas même la toute puissante Ponctuation ne régit les Bolos Bolos - une vie on ne peut moins orthodoxographique.
                            Un jour pourtant, une petite ligne de Bolo Bolo du nom de Lorem Ipsum décida de s'aventurer dans la vaste Grammaire. 
                            Le grand Oxymore voulut l'en dissuader, le prevenant que là-bas cela fourmillait de vils Virgulos, de sauvages
                            Pointdexclamators et de sournois Semicolons qui l'attendraient pour sûr au prochain paragraphe, mais ces mots ne firent 
                            écho dans l'oreille du petit Bolo qui ne se laissa point déconcerter. Il pacqua ses 12 lettrines, glissa son initiale dans 
                            sa panse et se mit en route. Alors qu'il avait gravi les premiers flancs de la chaîne des monts Italiques,
                            il jeta un dernier regard sur la skyline de</p>
                            <ul class="actions">
                                <li><a href="#" class="button icon fa-file">Continue Reading</a></li>
                            </ul>
                        </article>

                        <!-- Post -->
                        <article class="box post">
                            <header>
                                <h2><a href="#">By the way, many thanks to <strong>regularjane</strong>
                                        for these awesome demo photos</a></h2>
                            </header>
                            <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                            <h3>You should probably check out her work</h3>
                            <p>
                            Mesdames, messieurs, la nécessité de répondre à votre inquiétude journalière, que vous soyez jeunes ou âgés, doit prendre en compte les préoccupations de la population de base dans l'élaboration d'une valorisation sans concession de nos caractères spécifiques.

                            Je tiens à vous assuré que la politique globale mondialiste entraîne une mission somme toute des plus exaltantes pour moi : l'élaboration de solutions rapides correspondant aux grands axes sociaux prioritaires.

                            Je reste fondamentalement persuadé que la volonté farouche de sortir notre pays de la crise conforte vos revendications d'aller dans le sens d'un programme plus humain, plus fraternel et plus juste.
                            </p>
                            <p>
                            Tu vois, après il faut s'intégrer tout ça dans les environnements et on est tous capables de donner des informations à chacun parce que spirituellement,
                            on est tous ensemble, ok ? Pour te dire comme on a beaucoup à apprendre sur la vie !
                            Tu vois, là on voit qu'on a beaucoup à travailler sur nous-mêmes car le cycle du cosmos dans la vie...
                            c'est une grande roue et je ne cherche pas ici à mettre un point ! Et là, vraiment, j'essaie de tout coeur 
                            de donner la plus belle réponse de la terre !
                            Tu vois, je ne suis pas un simple danseur car on est tous capables de donner des informations à chacun et
                            c'est une sensation réelle qui se produit si on veut ! Et tu as envie de le dire au monde entier, including yourself.
                            </p>
                            
                            <p>
                                Il avait d’abord commencé par récupérer des informations depuis l’ordinateur de David, 
                                puis il était allé les chercher sur Internet. Il avait lui-même programmé l’ordinateur de David 
                                afin d’avoir un premier lien vers le monde extérieur : la voix. Il pouvait entendre la voix de David, 
                                mais ne la comprenait pas. C’est alors qu’il a décidé d’aller lui-même à l’information. 
                                Il s’est alors ‘transporté’ sur Internet afin de choisir une nouvelle ‘maison’. 
                                Il lui a été beaucoup plus facile de programmer ce nouvel ordinateur afin d’entendre une nouvelle voix.
                            </p>
                            <p>
                                Florence avait fini de préparer le matériel demandé par Prélude. Elle était fin prête. Elle vérifia le bon fonctionnement de la 
                                liaison entre son ordinateur portable et Internet. Prélude était bien là. A peine connecté à Internet que la voix de Prélude se fit entendre.
                            </p>
                            <ul class="actions">
                                <li><a href="#" class="button icon fa-file">Continue Reading</a></li>
                            </ul>
                        </article>

                    </div>

                    <!-- Sidebar -->
                    <div id="sidebar" class="4u 12u(mobile)">
        
                        <!-- Excerpts -->
                        <section>
                            <ul class="divided">
                                <li>

                                    <!-- Excerpt -->
                                    <article class="box excerpt">
                                        <header>
                                            <span class="date">July 30</span>
                                            <h3><a href="#">Just another post</a></h3>
                                        </header>
                                        <p>

                                    Mesdames, messieurs, l'effort prioritaire en faveur du statut précaire des exclus soustrait toute vision globale d'une valorisation sans concession de nos caractères spécifiques.

                                    Par ailleurs, c'est en toute connaissance de cause que je peux affirmer aujourd'hui que la crise actuelle doit prendre en compte les préoccupations de la population de base dans l'élaboration d'une restructuration dans laquelle chacun pourra enfin retrouver sa dignité.

                                    Et c'est en toute conscience que je déclare avec conviction que l'aspiration plus que légitime de chacun au progrès social conforte mon désir incontestable d'aller dans le sens de solutions rapides correspondant aux grands axes sociaux prioritaires.
                                    </p>
                                    </article>

                                </li>
                                <li>

                                    <!-- Excerpt -->
                                    <article class="box excerpt">
                                        <header>
                                            <span class="date">July 28</span>
                                            <h3><a href="#">And another post</a></h3>
                                        </header>
                                        <p>

                                    Mesdames, messieurs, la crise que connait notre pays doit nous faire réagir tous ensemble pour aller dans la mise en place d'un programme plus humain, plus fraternel et plus juste.

                                    Très chers compatriotes, vous le savez et je vous le redit que l'acuité des problèmes de la vie quotidienne a pour conséquence obligatoire l'urgente nécessité d'un projet porteur de véritables espoirs, notamment pour les plus démunis.

                                    Jamais, vous m'entendez ? Jamais ! Et c'est pourquoi, aujourd'hui, je vous dis que l'effort prioritaire en faveur du statut précaire des exclus conforte mon désir incontestable d'aller dans le sens d'un projet porteur de véritables espoirs, notamment pour les plus démunis.
                                    </p>
                                    </article>

                                </li>
                                <li>

                                    <!-- Excerpt -->
                                    <article class="box excerpt">
                                        <header>
                                            <span class="date">July 24</span>
                                            <h3><a href="#">One more post</a></h3>
                                        </header>
                                        <p>

                                    Mesdames, messieurs, le surendettement de nos compatriotes doit prendre en compte les préoccupations de la population de base dans l'élaboration d'un programme plus humain, plus fraternel et plus juste.

                                    Très chers compatriotes, vous le savez et je vous le redit que l'effort prioritaire en faveur du statut précaire des exclus a pour conséquence obligatoire l'urgente nécessité d'un programme plus humain, plus fraternel et plus juste.

                                    Alors oui, je me suis égaré, mais aujourd'hui, je vous dis que la situation d'exclusion que certains d'entre vous connaissent doit nous amener au choix réellement impératif d'une valorisation sans concession de nos caractères spécifiques.
                                    </p>
                                    </article>

                                </li>
                            </ul>
                        </section>

                        <!-- Highlights -->
                        <section>
                            <ul class="divided">
                                <li>

                                    <!-- Highlight -->
                                    <article class="box highlight">
                                        <header>
                                            <h3><a href="#">Something of note</a></h3>
                                        </header>
                                        <a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a>
                                        <p><p>En se réveillant un matin après des rêves agités, Gregor Samsa se retrouva, dans son lit,
                                            métamorphosé en un monstrueux insecte. Il était sur le dos, 
                                            un dos aussi dur qu’une carapace, et, en relevant.</p></p>
                                        <ul class="actions">
                                            <li><a href="#" class="button icon fa-file">Learn More</a></li>
                                        </ul>
                                    </article>

                                </li>
                                <li></li>
                            </ul>
                        </section>

                    </div>
                                  <!-- Banner -->
        <div id="banner-wrapper">
            <div class="inner">
                <section id="banner" class="container">
                    <p>Elaboration de cahier des charges <strong>Contrat</strong>.<br />
                        Paiement en ligne</p>
                </section>
            </div>
        </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper">
            <div id="footer" class="container">
                <header>
                    <h2>QuestionS ou Commentaires? <strong>C'est ici:</strong></h2>
                </header>
                <div class="row">
                    <div class="6u 12u(mobile)">
                        <section>
                            <form method="post" action="#">
                                <div class="row 50%">
                                    <div class="6u 12u(mobile)">
                                        <input name="name" placeholder="Nom" type="text" />
                                    </div>
                                    <div class="6u 12u(mobile)">
                                        <input name="email" placeholder="Email" type="text" />
                                    </div>
                                </div>
                                <div class="row 50%">
                                    <div class="12u">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="row 50%">
                                    <div class="12u">
                                        <a href="#" class="form-button-submit button icon fa-envelope">Envoyer</a>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                    <div class="6u 12u(mobile)">
                        <section>
                            <p>

                            Mesdames, messieurs, la politique globale mondialiste interpelle le citoyen que je suis et nous oblige tous à aller de l'avant dans la voie d'un projet porteur de véritables espoirs, notamment pour les plus démunis.

                            La liberté ne tiens qu'à un fils et c'est pourquoi je tiens à vous dire que la crise actuelle doit nous faire réagir tous ensemble pour aller dans la mise en place d'un plan correspondant véritablement aux exigences légitimes de chacun.

                            Je tiens à vous assuré que la prise de conscience de nos dirigeants soustrait toute vision globale d'un avenir s'orientant vers plus de progrès et plus de justice.
                            </p>
                            <div class="row">
                                <div class="6u 12u(mobile)">
                                    <ul class="icons">
                                        <li class="icon fa-home">
                                            123 Avenue freelancer<br />
                                            freelancecity, 10 000<br />
                                            FRANCE
                                        </li>
                                        <li class="icon fa-phone">
                                            (+33) 123-000-0000
                                        </li>
                                        <li class="icon fa-envelope">
                                            <a href="#">info@freelancer</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <ul class="icons">
                                        <li class="icon fa-twitter">
                                            <a href="#">@freelancer</a>
                                        </li>
                                        <li class="icon fa-instagram">
                                            <a href="#">instagram.com/freelancer</a>
                                        </li>
                                        <li class="icon fa-dribbble">
                                            <a href="#">dribbble.com/freelancer</a>
                                        </li>
                                        <li class="icon fa-facebook">
                                            <a href="#">facebook.com/freelancer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

  

    </div>

{% endblock %}
{% block javascript %}
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/skel-viewport.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
{% endblock %}


