{% extends "layout.html.twig" %}

{% block style %}
    
<style type="text/css">


    #ui-datepicker-div{
        z-index: 999 !important;
        background-color: salmon;
    }
</style>
    
{% endblock %}
    
{% block titre %}
        <h1 id="logo"><a href="front" class="bigtitle">Free Demat'Lancer's</a></h1>
{% endblock %}


{% block body %}
    <!-- Main -->
      
<!-- Banner -->
<div id="banner-wrapper" style="margin-top:6%; margin-left:4%;width:93%;">
    <div class="inner" style="padding-bottom:3vw;">
        <section id="banner" class="container">
            <p>Projet en ligne / &nbsp;Développeurs Connectés
                <br />
            </p>
            <img src="loupe.png" style="width:8vw;" />
            <ul class="actions">
                <li><a href="{{ path('projet_index') }}"  data-ajax="false" class="button icon fa-file">Consulter les projets</a></li>
                <li><a href="{{ path('freelancer_index') }}"  data-ajax="false" class="button icon fa-file">Voir les profils des Freelancers</a></li>
            </ul>
        </section>
    </div>
</div> 
  
<!-- Banner -->
<div id="banner-wrapper" style="margin-top:2%; margin-left:4%;width:93%;">
    <div class="inner">
        <div class="inner">
            <section id="banner" class="container">
                <p>Elaboration de cahier des charges <strong>Contrat</strong>.<br />
                    Paiement en ligne</p>

                <!-- Ajout d'un projet -->
                {{ form_start(form) }}
                {{ form_widget(form) }}
                    <input type="submit"  data-ajax="false"  value="Editeur de texte intégré" style="margin:5px;"/>
                {{ form_end(form) }}
               
            </section>
        </div>
    </div>
</div>
                
<!-- Banner -->
<div id="banner-wrapper" style="margin-top:2%; margin-left:4%;width:93%;">
    <div class="inner">
        <section id="banner" class="container"> 
            
                {{ form_start(formRecherche) }}    
                    <h2>Rechercher sur le site</h2>
                        {{ form_errors(formRecherche) }}
                        {{ form_widget(formRecherche.Recherche) }}
                        {{ form_widget(formRecherche.MotsCles) }}
                    {{ form_widget(formRecherche.NombreDeResultat) }}
                    <input data-ajax="false" type="submit" value="Lancer la recherche"/>
                    
                {{ form_end(formRecherche) }}  
                
            
         </section>
    </div>
</div> 

<!-- Footer -->               
<div id="banner-wrapper"  style="margin-top:2%; margin-left:4%;width:93%;margin-bottom:5%;">
    <div class="inner">
        <section id="banner" class="container">           
            <header>
                <h2 >Questions ou Commentaires ? <strong>C'est ici:</strong></h2>
            </header>
            <div class="row">
                <div class="6u 12u(mobile)">
                    <section>

                            <div class="row 50%">
                                <div class="6u 12u(mobile)">
                                    <input name="name" placeholder="Nom" style="width:14vw;" type="text" />
                                </div>
                                <div class="6u 12u(mobile)">
                                    <input name="email" placeholder="Email" style="width:14.1vw;" type="text" />
                                </div>
                                <div>
                                    <input name="objet" placeholder="Objet" style="width:30vw;" type="text" />
                                </div>
                            </div>
                            <div class="row 50%">
                                <div class="12u">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="row 50%">
                                <div class="12u">
                                    <a href="#"  data-ajax="false" class="form-button-submit button icon fa-envelope" style="margin-left:11vw;">Envoyer</a>
                                </div>
                            </div>

                    </section>
                </div>
                <div class="6u 12u(mobile)">
                    <section>

                        <div class="row" style="margin-top:1%;">

                            <div class="6u 12u(mobile)">
                                <ul class="icons" >
                                    <li class="icon fa-twitter">
                                        <a href="#" style="color:white;">@freelancer</a>
                                    </li>
                                    <li class="icon fa-instagram">
                                        <a href="#" style="color:white;">instagram.com/freelancer</a>
                                    </li>
                                    <li class="icon fa-dribbble">
                                        <a href="#" style="color:white;">dribbble.com/freelancer</a>
                                    </li>
                                    <li class="icon fa-facebook">
                                        <a href="#" style="color:white;">facebook.com/freelancer</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
          



{#    app
    app.environment
    app.debug
    app.user
    app.request
    app.request.attributes
    app.request.query
    app.request.server
    app.request.parameter
    app.request.files
    app.request.cookies
    app.request.headers
    app.request.content
    app.request.languages
    app.request.charsets
    app.request.acceptableContentTypes
    app.request.pathInfo
    app.request.requestUri
    app.request.baseUrl
    app.request.basePath
    app.request.method
    app.request.format
    
app.security
    app.security.token
    app.security.key
    app.security.user
    app.security.roles
    app.security.authenticated
    app.security.attributes
    app.security.alwaysAuthenticate
    app.session
    app.session.locale
    app.session.defaultLocale
    app.session.saved

    #}



    </div>
</div>
{% endblock %}


