{% extends "layout.html.twig" %}

{% block style %}
    
<style type="text/css">


    #ui-datepicker-div{
        z-index: 999 !important;
        background-color: salmon;
    }
</style>
    
{% endblock %}
    
{% block titre %}
        <h1 id="logo"><a href="front" class="bigtitle">Free Demat'Lancer's</a></h1>
{% endblock %}


{% block body %}
    <!-- Main -->
    <div >      
        <!-- Banner -->
        <div id="banner-wrapper" style="margin-top:-5%; margin-left:4%;width:93%;">
             <div style="width:50vw ; margin-left:23%; margin-bottom:5vw; color:black;">
                {{ form_start(formRecherche) }}    
                    <h2>Parcourez les projets</h2>
                     {{ form_errors(formRecherche) }}
                     {{ form_widget(formRecherche.Recherche) }}
                  
                    <input data-role="date" type="text">

                     <div data-role="content" style="display:inline-block;width:10vw;">De
                        <input type="datetime-local" max="2020-01-12" id="date-input" data-inline="false" data-role="date" >
                    </div> 

                     <div data-role="content" style="display:inline-block; width:10vw;">A
                        <input type="datetime-local"  id="date-input2" data-inline="false" data-role="date" >
                    </div> 

                    {{ form_widget(formRecherche.MotsCles) }}
                    {{ form_widget(formRecherche.NombreDeResultat) }}
                    <input type="submit" value="Lancer la recherche"/>
                    
                {{ form_end(formRecherche) }}  
                
            </div>
            
            <div class="inner">
                <section id="banner" class="container">
                    <p>Projet en ligne / <strong>&nbsp;Développeurs Connectés</strong>.<br />
                        Consulter les projets</p>
                    <img src="loupe.png" style="width:8vw;" />
                    <ul class="actions">
                        <li><a href="#" class="button icon fa-file">En savoir plus</a></li>
                    </ul>
                </section>
            </div>
     
            <!-- Post -->
            <article class="box post" style="margin-top:2vw;">
                <header>
                    <h2><a href="#">Mettez en ligne vos<strong>Travaux</strong>
                            en trois étapes</a></h2>
                </header>
                <a href="#" class="image featured"><img src="clavier.jpg" alt=""  style="width:30vw;margin-left:25vw" /></a>
           
            </article>
        </div> 
    </div>


       

<!-- Banner -->
<div id="banner-wrapper" >
    <div class="inner">
        <section id="banner" class="container">
            <p>Elaboration de cahier des charges <strong>Contrat</strong>.<br />
                Paiement en ligne</p>

            <!-- Ajout d'un projet -->
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" style="margin:5px;"/>
            {{ form_end(form) }}
            <ul class="actions">
                <li><a href="#" class="button icon fa-file">Enregistrer votre modèle</a></li>
            </ul>

        </section>
    </div>
</div>
            
            
<!-- Footer -->
<div id="footer-wrapper">

        <header>
            <h2 >Questions ou Commentaires ? <strong>C'est ici:</strong></h2>
        </header>
        <div class="row">
            <div class="6u 12u(mobile)">
                <section>
           
                        <div class="row 50%">
                            <div class="6u 12u(mobile)">
                                <input name="name" placeholder="Nom" style="width:14vw;" type="text" />
                            </div>
                            <div class="6u 12u(mobile)">
                                <input name="email" placeholder="Email" style="width:14.1vw;" type="text" />
                            </div>
                            <div>
                                <input name="objet" placeholder="Objet" style="width:30vw;" type="text" />
                            </div>
                        </div>
                        <div class="row 50%">
                            <div class="12u">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="row 50%">
                            <div class="12u">
                                <a href="#" class="form-button-submit button icon fa-envelope" style="margin-left:11vw;">Envoyer</a>
                            </div>
                        </div>
                  
                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>

                    <div class="row" style="margin-top:1%;">

                        <div class="6u 12u(mobile)">
                            <ul class="icons">
                                <li class="icon fa-twitter">
                                    <a href="#">@freelancer</a>
                                </li>
                                <li class="icon fa-instagram">
                                    <a href="#">instagram.com/freelancer</a>
                                </li>
                                <li class="icon fa-dribbble">
                                    <a href="#">dribbble.com/freelancer</a>
                                </li>
                                <li class="icon fa-facebook">
                                    <a href="#">facebook.com/freelancer</a>
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                </section>
            </div>
    



{#    app
    app.environment
    app.debug
    app.user
    app.request
    app.request.attributes
    app.request.query
    app.request.server
    app.request.parameter
    app.request.files
    app.request.cookies
    app.request.headers
    app.request.content
    app.request.languages
    app.request.charsets
    app.request.acceptableContentTypes
    app.request.pathInfo
    app.request.requestUri
    app.request.baseUrl
    app.request.basePath
    app.request.method
    app.request.format
    
app.security
    app.security.token
    app.security.key
    app.security.user
    app.security.roles
    app.security.authenticated
    app.security.attributes
    app.security.alwaysAuthenticate
    app.session
    app.session.locale
    app.session.defaultLocale
    app.session.saved

    #}



    </div>
</div>
{% endblock %}


