{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Tests</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Editer un Test</h2>
        <div class="mycontentform">
            <ul>
                <li class="returnlist">
                    <a  class="btn btn-default" href="{{ path('test_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table  class="tableautitle">
                <tbody>
                    {{ form_start(edit_form) }}
                    {{ form_row(edit_form.description) }}
                    {{ form_row(edit_form.urlTest) }}
             
                
                </tbody>
            </table>             
            <input type="submit"  class="myeditinput"  value="Enregistrer les modifications" />
            {{ form_end(edit_form) }}

          {% if is_granted("ROLE_ADMIN") %}            
            <ul>
                 <li class="mydeleteli ">
                  
                        {{ form_start(delete_form) }}
                            <input type="submit"  value="Supprimer le test" />
                        {{ form_end(delete_form) }}
                   
                </li>
            </ul> 
            {% endif %}
        </div>
    </div>
{% endblock %}
