{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Tests</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h1 class="mysubtitle">Liste des Tests</h1>
        <div class="mycontentform">
            <table>
                <thead>
                    <tr>
                        <th>Idtest</th>
                        <th>Description</th>
                        <th>Urltest</th>
                        <th>Resultat</th>
                        <th>Datepassage</th>
                        <th>Idfreelancer</th>
                        <th>Idcompetence</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for test in tests %}
                    <tr>
                        <td><a href="{{ path('test_show', { 'id': test.idTest }) }}">{{ test.idTest }}</a></td>
                        <td>{{ test.description }}</td>
                        <td>{{ test.urlTest }}</td>
                        <td>{{ test.resultat }}</td>
                        <td>{% if test.datePassage %}{{ test.datePassage|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ test.idFreelancer }}</td>
                        <td>{{ test.idCompetence }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('test_show', { 'id': test.idTest }) }}">Afficher</a>
                                </li>
                                <li>
                                    <a href="{{ path('test_edit', { 'id': test.idTest }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('test_new') }}">Créer un nouveau  test</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
