{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Tests</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Tests</h2>
        <div class="mycontentform">
            <ul>
                <li>
                    <a class="addtab"href="{{ path('test_new') }}">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer un nouveau Test</span>
                    </a>
                </li>
            </ul>
            <table class="tableautitle">
                <thead>
                    <tr  class="tableautitlecontent">
                        <th class="center">Intitulé du Test</th>
                        <th class="center">Description</th>
                        <th class="center">Questionnaire</th>
                        <th class="center">Résultat</th>
                        <th class="center">Date de passage</th>
                        <th class="center">Freelancer</th>
                        <th class="center">Competence</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for test in tests %}
                    <tr>
                        <a class="mydisplaynone"  href="{{ path('test_show', { 'id': test.idTest }) }}">{{ test.idTest }}</a>
                        <td class="mytdtab2">{{ dump(test) }}</td>
                        <td class="mytdtab">{{ test.description }}</td>
                        <td class="mytdtab2">{{ test.urlTest }}</td>
                        <td class="mytdtab">{{ test.resultat }}</td>
                        <td class="mytdtab2">{#% if test.datePassage %}{{ test.datePassage|date("d/m/Y h:i:s") }}{% endif %#}</td>
                        <td class="mytdtab">{#{ test.idFreelancer }#}</td>
                        <td class="mytdtab2"></td>
                        <td class="mytdtab">
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" href="{{ path('test_show', { 'id': test.idTest }) }}">Afficher</a>
                                </li>
                                <li style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;"  data-ajax="false" href="{{ path('test_edit', { 'id': test.idTest }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            
        </div>
    </div>
{% endblock %}
