{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Tests</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Ajouter un Test</h2>
        <div class="mycontentform">
            <ul>
                <li class="returnlist">
                    <a  class="btn btn-success" href="{{ path('test_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table  class="tableautitle">
                <tbody>
                    {{ form_start(form) }}
                       <div style="width:15%;margin-left:15%;  float:left; margin-right:2%;display:inline-grid;">
                            {{ form_row(form.intitule) }}
                            {{ form_row(form.description) }}
                            
                            {{ form_row(form.questionnaire) }}
                       </div>
                        <input type="submit" class="myeditinput" value="Ajouter le Test" />
                    {{ form_end(form) }}
                </tbody>
            </table> 
            <ul>

            </ul>
        </div>
    </div>
{% endblock %}
