{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Tests</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Afficher un Test</h2>
        <div class="mycontentform">
            <table>
                <tbody>
                    <tr>
                        <th>id_test</th>
                        <td>{{ test.id_test }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ test.description }}</td>
                    </tr>
                    <tr>
                        <th>Urltest</th>
                        <td>{{ test.urlTest }}</td>
                    </tr>
                    <tr>
                        <th>Resultat</th>
                        <td>{{ test.resultat }}</td>
                    </tr>
                    <tr>
                        <th>Datepassage</th>
                        <td>{% if test.datePassage %}{{ test.datePassage|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>id_freelancer</th>
                        <td>{{ test.id_freelancer }}</td>
                    </tr>
                    <tr>
                        <th>id_competence</th>
                        <td>{{ test.id_competence }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('test_index') }}">Retourner à la liste</a>
                </li>
                <li>
                    <a href="{{ path('test_edit', { 'id': test.id_test }) }}">Modifier</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
