{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Tests</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Test</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('test_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow">Competence</th>
                        <td class="mytdtabshow">{{ testcompetence.Competence.intitule }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Intitulé</th>
                        <td class="mytdtabshow2">{{ test.intitule }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Lien vers le questionnaire</th>
                        <td class="mytdtabshow">{{ test.urlTest }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Description</th>
                        <td class="mytdtabshow2">{{ test.description }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Résultats au questionnaire</th>
                        <td class="mytdtabshow">{{ test.questionnaire }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Date de Passage</th>
                        <td class="mytdtabshow2">{% if testfreelancer.datePassage %}{{ testfreelancer.datePassage|date('d-m-Y H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Freelancer</th>
                        <td class="mytdtabshow">{{ testfreelancer.Freelancer.pseudo }}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li class="myeditli">
                    <a  class="btn btn-default" href="{{ path('test_edit', { 'id': test.idTest }) }}">Modifier</a>
                </li>
                <li class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer le test">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
