{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Tests</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Test</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-default" href="{{ path('test_index') }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th class="mytdtabshow">Test</th>
                        <td class="mytdtabshow">{{ test.id_test }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Description</th>
                        <td class="mytdtabshow2">{{ test.description }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Contenu du Test</th>
                        <td class="mytdtabshow">{{ test.url_test }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Résultat</th>
                        <td class="mytdtabshow2">{{ test.resultat }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Date de Passage</th>
                        <td class="mytdtabshow">{% if test.date_passage %}{{ test.date_passage|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow2">Freelancer</th>
                        <td class="mytdtabshow2">{{ test.id_freelancer }}</td>
                    </tr>
                    <tr>
                        <th class="mytdtabshow">Competence</th>
                        <td class="mytdtabshow">{{ test.id_competence }}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li class="myeditli">
                    <a class="btn btn-info" style="color:white;"  href="{{ path('test_edit', { 'id': test.id_test }) }}">Modifier</a>
                </li>
                <li class="mydeleteli">
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
