{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Cahier des charges</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des cahiers des Charges</h2>
        <div class="mycontentform">
            <ul>
                <li>
                    <a data-ajax="false" class="addtab" href="{{ path('cahierdescharges_new') }}">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer un nouveau Cahier des Charges</span>
                    </a>
                </li>
            </ul>
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Intitulé du Cahier des Charges</th>

                        <th class="center">Tarif</th>
                        <th class="center">Delai</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                    {% for cahierdescharge in cahierdescharges %}
                        <tr>
                    <a class="mydisplaynone" href="{{ path('cahierdescharges_show', { 'id': cahierdescharge.id }) }}">{{ cahierdescharge.id }}</a>
                    <td class="mytdtab2">{{ cahierdescharge.intitule }}</td>
                    <td class="mytdtab">{{ cahierdescharge.tarif }}</td>
                    <td class="mytdtab2">{{ cahierdescharge.delai }}</td>

                    <td class="mytdtab">
                        <ul>
                            <li style="display:inline-block;margin-top:8px;">
                                <a data-ajax="false" class="btn btn-success"  href="{{ path('cahierdescharges_show', { 'id': cahierdescharge.id }) }}">Afficher</a>
                            </li>
                            <li style="display:inline-block;">
                                <a data-ajax="false" class="btn btn-info" style="color:white;" href="{{ path('cahierdescharges_edit', { 'id': cahierdescharge.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
{% endblock %}
