{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Contrats</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Contrats</h2>
        <div class="mycontentform">
            <ul>
                <li>
                    <a class="addtab" href="{{ path('contrat_new') }}">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer un nouveau Contrat</span>
                    </a>
                </li>
            </ul>
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Société</th>
                        <th class="center">Montant estimé</th>
                        <th class="center">Delai de livraison</th>
                        <th class="center">Date de signature</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for contrat in contrats %}
                    <tr>
                        <a class="mydisplaynone" href="{{ path('contrat_show', { 'id': contrat.idContrat }) }}">{{ contrat.idContrat }}</a>
                        <td class="mytdtab2">{{ dump(contrat) }}</td>
                        <td class="mytdtab">{{ contrat.tarif }}</td>
                        <td class="mytdtab2">{{ contrat.delai }}</td>
                        <td class="mytdtab">{% if contrat.dateSign %}{{ contrat.dateSign|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <input type="hidden" value="{{ contrat.id_paiement }}">
                        <td class="mytdtab2" >
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" href="{{ path('contrat_show', { 'id': contrat.idContrat }) }}">Afficher</a>
                                </li>
                                <li style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;" href="{{ path('contrat_edit', { 'id': contrat.idContrat }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
