{% extends 'base.html.twig' %}
{% block titre %}

    <h1 id="logo"><a class="bigtitle">Contrats</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Afficher le contrat</h2>
        <div class="mycontentformshow">
            <ul>
                <li class="returnlist">
                    <a class="btn btn-success" href="{{  path('contrat_index')  }}">Retourner à la liste</a>
                </li>
            </ul>
            <table class="tableautitle">
                <tbody>
                    <tr>
                        <th  class="mytdtabshow">Contrat</th>
                        <td  class="mytdtabshow">{{ contrat.idContrat }}</td>
                    </tr>
                    <tr>
                        <th  class="mytdtabshow2">Tarif</th>
                        <td  class="mytdtabshow2">{{ contrat.tarif }}</td>
                    </tr>
                    <tr>
                        <th  class="mytdtabshow">Delai</th>
                        <td  class="mytdtabshow">{{ contrat.delai }}</td>
                    </tr>
                    <tr>
                        <th  class="mytdtabshow2">Date de signature</th>
                        <td  class="mytdtabshow2">{% if contrat.dateSign %}{{ contrat.dateSign|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th  class="mytdtabshow">Paiement</th>
                        <td  class="mytdtabshow">{{ contrat.id_paiement }}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li class="myeditli">
                    <a class="btn btn-info" style="color:white;" href="{{ path('contrat_edit', { 'id': contrat.idContrat }) }}">Modifier</a>
                </li>
                <li class="mydeleteli">
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
