{% extends "layout.html.twig" %}

{% block title %}
    {% if discipline is defined %}
        Formulaire de modification de {{ discipline.getNameDiscipline() }}
    {% else %}
        Formulaire d'ajout de matière
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <!-- form start -->
        <form class="form-horizontal" method="post" action="{{ path('post_adddiscipline') }}">
            <div class="box-body" style="margin-left:2rem; width: 90%;">
                {% if discipline is defined %}
                    <input type="hidden" id="id_discipline" name="id_discipline" class="form-control" value="{{ discipline.getIdDiscipline() }}">
                    <div class="form-group">
                        <label>Intitulé de la matière<span style="color: red;">*</span></label>
                        {#Modifie le nom de la matière de la matière défini#}
                        <input type="text" name="matiere" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ discipline.getNameDiscipline() }}">
                        <br/>
                        <label>Description</label>
                        {#Modifie la description de la matières défini#}
                        <input type="text" name="description" style=" height: 25%; width: 25% ;border-radius: 3px" class="form-control" value="{{ discipline.getDescription() }}">
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label>Intitulé de la matière<span style="color: red;">*</span></label>
                        {#Ajoute le nom de la matière#}
                        <input type="text" name="matiere" style=" width: 25% ;border-radius: 3px" class="form-control" placeholder="Libellé de la matière...">
                        <br/>
                        <label>Description</label>
                        {#Ajoute une description à la matière#}
                        <input type="textarea" name="description" style=" height: 25%; width: 25% ;border-radius: 3px" class="form-control" placeholder="Ajouter une description de la matière...">
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Ajouter</button>
                    </div>
                {%  endif %}
            </div>
            <!-- /.box-body -->

            {#Affiche un message d'ajout réussi#}
            {% for success in app.session.getFlashBag.get('success') %}
                <div class="alert alert-success fade">
                    {{ success }}
                </div>
            {% endfor %}
            <!-- /.box-footer -->
        </form>
    </div>

{% endblock %}

