{% extends "layout.html.twig" %}

{% block css %}
     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{#Calendrier appelé plus bas pour sélectionner la date de naissance de l'étudiant#}
{% block javascript %}
    <script>
        $(function() {
          $( "#datepicker" ).datepicker({
            dateFormat : 'yy/mm/dd',
            yearRange: '-100y:c+nn',
            changeMonth: true,
            changeYear: true,
            dayNamesMin: ['Lun', 'Ma', 'Me', 'Jeu', 'Ven', 'Sam', 'Dim']
          });
        });
    </script>
{% endblock %}

{% block title %}
    {% if student is defined %}
        Formulaire de modification de {{ student.getName()~' '~student.getFirstname() }}
    {% else %}
        Formulaire d'ajout d'étudiant
    {% endif %}
{% endblock %}

{% block content %}
<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="{{ path('student') }}">
        <div class="box-body">
            {% if student is defined %}
                <input type="hidden" id="id_student" name="id_student" class="form-control" value="{{ student.getIdStudent() }}">
                <div class="form-group">
                    <label for="#">Nom <span style="color: red;">*</span></label>
                    {#Ajoute le nom d'un étudiant#}
                    <input type="text" id="name" name="name" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ student.getName() }}">
                </div>
                <div class="form-group">
                    <label for="#">Prénom <span style="color: red;">*</span></label>
                    {#Ajoute le prénom d'un étudiant#}
                    <input type="text" id="firstname" name="firstname" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ student.getFirstname() }}">
                </div>
                <div class="form-horizontal">
                    <div class="form-horizontal">
                        <label for="#">Classe</label>
                        <input type="text" id="classname" name="classname" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ student.class.getClassName() }}" readonly>
                        <label for="#">Nouvelle Classe <span style="color: red;  ">*</span></label>
                        {#Crée une liste déroulante avec le nom des classes#}
                        <select class="form-control" id="sel2" name="classname" style="border-radius: 3px; width: 25%;">
                            <option style="border-radius: 3px" value="{{ student.class.getIdClassName() }}">{{ student.class.getClassName() }}</option>
                            {% for classroom in classes %}
                                <option style="border-radius: 3px" value="{{ classroom.getIdClassName() }}">
                                    {{ classroom.getClassName() }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-horizontal" style="width:25%;margin:10px 0px ;" >
                        <label for="#">Option</label>
                        {#Ajoute l'option choisit par l'étudiant#}
                        <input type="text" id="option" name="option" class="form-control" style="border-radius: 3px; " class="form-control" value="{{ student.class.getClassOption() }}">
                    </div>
                </div>
                <div class="form-group" style="width:25%;">
                    <label for="#">Date de naissance <span style="color: red;">*</span></label>
                    {#Crée un calendrier par rapport un code java plus haut#}
                    <div class="input-group" >
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input id="datepicker" name="birthday"  class="form-control" value="{{ student.getBirthday() }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="#">Adresse email <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse mail de l'étudiant#}
                    <input type="email" id="email" name="email" class="form-control" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ student.getEmail() }}">
                </div>
                <div class="form-group">
                    <label for="#">N° de téléphone</label>
                    {#Ajoute le numéro de téléphone de l'étudiant#}
                    <input type="tel"
                           pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                           id="phone" name="phone" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ student.getTel() }}">
                </div>
                <div class="form-group">
                    <label for="#">Adresse <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse d'un étudiant#}
                    <input id="address" name="address" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ student.getAddress() }}">
                </div>
                <div class="form-group">
                    <label for="#">Statut</label>
                    <input type="text" id="option" name="option" class="form-control" style=" width: 25% ;border-radius: 3px" class="form-control" value="{{ student.statut.getStatutStudent() }}" readonly>
                    <label for="#">Nouveau statut <span style="color: red;">*</span></label>
                    {#Crée une liste déroulante des statuts des étudiants#}
                    <select class="form-control" name="statut" style="border-radius: 3px; width: 25%;">
                        <option style="border-radius: 3px"   value="{{ student.statut.getId() }}"> {{ student.statut.getStatutStudent() }}   </option>
                        {% for statut in statuts %}
                            <option style="border-radius: 3px"   value="{{ statut.getId() }}" >
                                {{ statut.getStatutStudent() }}
                            </option>
                        {% endfor %}
                    </select>

                </div>
                <small><span style="color: red;">* Champs obligatoires</span></small>
            {% else %}
                <div class="form-group">
                    <label for="#">Nom <span style="color: red;">*</span></label>
                    {#Ajoute le nom d'un étudiant#}
                    <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Dupont" name="name">
                </div>
                <div class="form-group">
                    <label for="#">Prénom <span style="color: red;">*</span></label>
                    {#Ajoute le prénom d'un étudiant#}
                    <input type="text" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" placeholder="Ex : Jean-Michel" name="firstname">
                </div>
                <div class="form-horizontal">
                    <div class="form-horizontal">
                        <label for="#">Classe <span style="color: red;  ">*</span></label>
                        {#Crée une liste déroulante avec le nom des classes#}
                        <select class="form-control" id="sel2" name="classname" style="border-radius: 3px; width: 25%;">
                            {% for classroom in classes %}
                                <option style="border-radius: 3px" value="{{ classroom.getIdClassName() }}">
                                    {{ classroom.getClassName() }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-horizontal" style="width:25%;margin:10px 0px ;" >
                        <label for="#">Option</label>
                        {#Ajoute l'option choisit par l'étudiant#}
                        <input type="text" class="form-control" style="border-radius: 3px; " id="#" placeholder="Ex: SLAM" name="option">
                    </div>
                </div>
                <div class="form-group" style="width:25%;">
                    <label for="#">Date de naissance <span style="color: red;">*</span></label>
                    {#Crée un calendrier par rapport un code java plus haut#}
                    <div class="input-group" >
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input id="datepicker" name="birthday" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="#">Adresse email <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse mail de l'étudiant#}
                    <input type="email" class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="email" placeholder="Ex : jeanmichou@gmail.com">
                </div>
                <div class="form-group">
                    <label for="#">N° de téléphone</label>
                    {#Ajoute le numéro de téléphone de l'étudiant#}
                    <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                           class="form-control" style=" width: 25% ;border-radius: 3px" id="#" name="phone" placeholder="Ex : 0656543487">
                </div>
                <div class="form-group">
                    <label for="#">Adresse <span style="color: red;">*</span></label>
                    {#Ajoute l'adresse d'un étudiant#}
                    <textarea rows="3" class="form-control" name="address" placeholder="Ex : 234, route des pins / Nice / 06200, France" style=" width: 25% ;border-radius: 3px" id="#"></textarea>
                </div>
                <div class="form-group">
                    <label for="#">Statut <span style="color: red;">*</span></label>
                    {#Crée une liste déroulante des statuts des étudiants#}
                    <select class="form-control" name="statut" style="border-radius: 3px; width: 25%;">
                        {% for statut in statuts %}
                            <option style="border-radius: 3px" value="{{ statut.getId() }}">
                                {{ statut.getStatutStudent() }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <small><span style="color: red;">* Champs obligatoires</span></small>
            {% endif %}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Enregistrer</button>
        </div>
        {#Affiche un message d'ajout réussi#}
        {% for success in app.session.getFlashBag.get('success') %}
            <div class="alert alert-success fade">
                {{ success }}
            </div>
        {% endfor %}
    </form>
    <!-- /.box-footer -->

</div>

{% endblock %}

{% block javascript_end %}


{% endblock %}
    