{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Sociétés</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h2 class="mysubtitle">Liste des Sociétés</h2>
        <div class="mycontentform">
            {% if is_granted('ROLE_USER') %}
            <ul>
                <li>
                    <a class="addtab" href="{{ path('societe_new') }}" rel="external">
                        <span class="fa fa-plus" >&nbsp;&nbsp;Créer une nouvelle Société</span>
                    </a>
                </li>
            </ul>
            {% endif %}
            <table class="tableautitle">
                <thead>
                    <tr class="tableautitlecontent">
                        <th class="center">Societe</th>
                        <th class="center">Siret</th>
                        <th class="center">Denomination</th>
                        <th class="center">Présentation</th>
                        <th class="center">Logo</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody class="mytbody">
                {% for societe in societes %}
                    <tr>
                        <a class="mydisplaynone" href="{{ path('societe_show', { 'id': societe.id_societe }) }}">{{ societe.id_societe }}</a>
                        <td class="mytdtab">{{ dump(societe) }}</td>
                        <td class="mytdtab2">{{ societe.siret }}</td>
                        <td class="mytdtab">{{ societe.denomination }}</td>
                        <td class="mytdtab2">{{ societe.presentation }}</td>
                        <td class="mytdtab"><img class="myimg" src="/FreelancerSIO/web/{{ societe.logo }}" /></td>
                        <input type="hidden" value="{{ societe.idUser }}" />
                        <td class="mytdtab2">
                            <ul>
                                <li style="display:inline-block;margin-top:8px;">
                                    <a class="btn btn-default" rel="external"  href="{{ path('societe_show', { 'id': societe.id_societe }) }}">Afficher</a>
                                </li>
                                <li style="display:inline-block;">
                                    <a class="btn btn-info" style="color:white;" rel="external"  href="{{ path('societe_edit', { 'id': societe.id_societe }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            
        </div>
    </div>
{% endblock %}
