{% extends "layout.html.twig" %}

{% block titre %}
    {% if is_granted("ROLE_USER") %}
        <h1 id="logo"><a href="/" class="bigtitle">Bienvenue {{ app.user.username }}</a></h1>  
    {% else %}
        <h1 id="logo"><a href="/" class="bigtitle">Utilisateur déconnecté</a></h1>  
    {% endif %}
{% endblock %}


{% block body %}
         {% block nav %}
         <div style="position:absolute; top:-20px; width:100%; text-align:center">
                   
            <nav id="nav">
                <ul>    
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="{{ path('homepage') }}" class="icon fa-bar-chart-o"><span>Se déconnecter</span></a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}" class="icon fa-bar-chart-o"><span>Créer un compte</span></a></li>
                    {% endif %}
                    <li><a href="{{  path('fos_user_security_login') }}"  class="icon fa-cog"><span>Consulter les Projets</span></a></li>           
                    <li><a href="{{  path('fos_user_security_login') }}"  class="icon fa-retweet" ><span>Voir les Freelancers</span></a> </li> 
                </ul>
            </nav>
        </div>           
        {% endblock %}
    {% if is_granted("ROLE_USER") %}
          <h1 id="logo" class="container" style="text-align:center; font-size:32px; margin-top:5%;"><a href="/" style="color:#21D8DE;">Espace personnel</a></h1>  
    {% else %}
          <h1 id="logo" class="container" style="text-align:center; font-size:32px; margin-top:5%;"><a href="/" style="color:#21D8DE;">Merci de votre visite</a></h1>  
    {% endif %}
        
{% endblock %}



