{% extends 'base.html.twig' %}
{% block titre %}

        <h1 id="logo"><a class="bigtitle">Sociétés</a></h1>  

{% endblock %}

{% block body %}    
    <div class="formulairetop">
        <h1 class="mysubtitle">Liste des Sociétés</h1>
        <div class="mycontentform">
            <table>
                <thead>
                    <tr>
                        <th>Idsociete</th>
                        <th>Siret</th>
                        <th>Denomination</th>
                        <th>Iduser</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for societe in societes %}
                    <tr>
                        <td><a href="{{ path('societe_show', { 'id': societe.idSociete }) }}">{{ societe.idSociete }}</a></td>
                        <td>{{ societe.siret }}</td>
                        <td>{{ societe.denomination }}</td>
                        <td>{{ societe.idUser }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('societe_show', { 'id': societe.idSociete }) }}">Afficher</a>
                                </li>
                                <li>
                                    <a href="{{ path('societe_edit', { 'id': societe.idSociete }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('societe_new') }}">Créer un nouveau  societe</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
