{% extends "layout.html.twig" %}
{% block javascript %}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="themes/AdminLTE/plugins/chartjs/Chart.js"></script>

    <script src="js/chartBar.js"></script>

{% endblock %}
{% block title %}
  Statistiques de l'Etudiant : &nbsp; &nbsp;  {{ student.getName() }} &nbsp; {{  student.getFirstname() }}&nbsp;&nbsp;&nbsp;&nbsp; <span style="float:right; margin-right:50px;"> Classe : &nbsp;&nbsp;&nbsp;&nbsp; Années:</span>
{% endblock %}

{% block content %}

        <!-- Div pour afficher le nombre d'étudiants total -->
<div class="box box-primary ">

    <div class="box50">
            {# Admin lte chart.js  2D Bar Charts    Notes / Mois #}
            {% for  eval in evaluationStudent %} 
                <input type="hidden" value="{{ eval.grade_student }} " class="NotesParMatiere" >{{ eval.grade_student }}
            {% endfor %}
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Notes / Mois</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <div class="canvas-holder">
                            <canvas id="note_stat" height="409" width="818" style="width: 818px; height: 409px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            {# Admin lte chart.js  2D Bar Charts   Notes / Matières  #}
            <div class="box box-success ">
                <div class="box-header with-border">
                    <h3 class="box-title">Notes / Matières</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="note_stat2" height="227" width="478"  style="height: 227px; width: 478px;"></canvas>
                    </div>
                </div>
            </div>

        {#  2D Bar Charts  Notes / Examens   #}

        <div class="box box-success ">
            <div class="box-header with-border">
                <h3 class="box-title">Notes / Examens</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table id="trellis">
                    <tr>
                        <td class="first"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="box40" >


            {#  3D Bar Charts  Moyenne par BTS Blanc   #}

            <div class="box box-success  " >
                <div class="box-header with-border">
                    <h3 class="box-title">Moyenne par BTS Blanc </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="container1"></div>
                    <div id="sliders">
                        <table>
                            <tr>
                                <td>Angle Alpha&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><input id="alpha" type="range" min="0" max="45" value="15"/> <span id="alpha-value" class="value"></span></td>
                            </tr>
                            <tr>
                                <td>Angle Beta &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><input id="beta" type="range" min="0" max="45" value="15"/> <span id="beta-value" class="value"></span></td>
                            </tr>
                            <tr>
                                <td>Profondeur &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><input id="depth" type="range" min="20" max="100" value="50"/> <span id="depth-value" class="value"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            {#  3D Bar Charts  Moyenne par Matières  #}
            <div class="box box-success  ">
                <div class="box-header with-border">
                    <h3 class="box-title">Moyenne par Matières</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="container2" style="height: 400px"></div>
                </div>
            </div>

    </div>



    <div class="box box-success  ">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            
                <h1>Evaluations</h1>
                {#{{ dump(evaluations) }}#}
                
                <h1>Examens</h1>
                {#{{ dump(examens) }}#}

                <h1>Classes</h1>
                {#{{ dump(classname) }}#}

                <h1>Disciplines</h1>
                {#{{ dump(disciplines) }}#}

                <h1>Students</h1>
                {#{{ dump(students) }}#}

                <h1>PARAM</h1>
                {#{{ dump(param) }}#}

        </div>
    </div>

</div>
{% endblock %}