{# src/FreelancerSIO-master/views/index.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
     <span class="mynewtitle">Formulaire d'ajout</span>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="box-group" id="accordion">
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="{{ path('addstudent') }}" aria-expanded="false" class="collapsed">
                                Ajouter un étudiant
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel box box-danger">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="{{ path('teacher') }}" class="collapsed" aria-expanded="false">
                                Ajouter un professeur
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel box box-success">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="{{ path('adduser') }}" class="collapsed" aria-expanded="false">
                                Ajouter un utilisateur
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="{{ path('statut') }}" class="collapsed" aria-expanded="false">
                                Ajouter un statut
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel box box-danger">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="{{ path('adddiscipline') }}" class="collapsed" aria-expanded="false">
                                Ajouter une matière
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel box box-success"> 
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="{{ path('addexam') }}" class="collapsed" aria-expanded="false">
                                Ajouter un examen
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </section>
{% endblock %}